.wp-block-tour-operator-block-taxonomy {
	&.widget-white-bg {
		.lsx-to-widget-content {
			background-color: $light-gray;
		}
	}
	.hide-title-yes {
		.lsx-to-widget-content {
			padding-top: 0;
			.lsx-to-widget-title {
				display: none;
			}
			.lsx-to-widget-description {
				padding-top: 2.4rem;
			}
		}
	}
}
