.wp-block-tour-operator-block-taxonomy {
	&.widget-white-bg {
		.lsx-to-widget-content {
			background-color: $light-gray;
		}
	}
	.hide-title-yes {
		.lsx-to-widget-content {
			padding-top: 0;
			.lsx-to-widget-title {
				display: none;
			}
			.lsx-to-widget-description {
				padding-top: 2.4rem;
			}
		}
	}
	.disable-link-yes {
		.lsx-to-widget-content {
			.lsx-to-widget-description {
				padding-bottom: 2.4rem;
			}
			.moretag {
				display: none;
			}
		}
	}
	.disable-link-yes{
		&:not(.hide-title-yes) {
			.lsx-to-widget-content {
				padding-bottom: 1px;
			}
		}
	}
	.disable-link-yes {
		&.hide-title-no {
			.lsx-to-widget-description {
				padding-bottom: 0;
			}
		}
	}


}
