.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}

.col-xs-15 {
	float: left;
	width: 20%;
}

@include media('>=phone') {
	.col-sm-15 {
		float: left;
		width: 20%;
	}
}

@include media('>=tablet') {
	.col-md-15 {
		float: left;
		width: 20%;
	}
}

@include media('>=desktop') {
	.col-lg-15 {
		float: left;
		width: 20%;
	}
}
