/* General styles for the icon block */
.heroicon-svg svg {
  height: 1em; /* Default height */
  width: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it doesn't overflow its container */
  display: inline-block; /* Align with text */
}
.has-small-font-size .heroicon-svg svg {
  height: 0.875em; /* Small font size */
}
.has-medium-font-size .heroicon-svg svg {
  height: 1em; /* Medium font size */
}
.has-large-font-size .heroicon-svg svg {
  height: 1.25em; /* Large font size */
}
.has-x-large-font-size .heroicon-svg svg {
  height: 1.5em; /* Extra large font size */
}
.has-xx-large-font-size .heroicon-svg svg {
  height: 2em; /* Double extra large font size */
}

.lsx-icons-search {
	width: 100%;
	margin-bottom: 8px;
	padding: 8px;
	font-size: 1rem;
	box-sizing: border-box;
	border: 1px solid #eee;
}
