/*
 * LSX Tour Operators Administrator
 */
 @import 'flag-icon-css/flag-icon';
 
 #banners .CMB_Group_Field {
 	display:block;
 }
 
  .CMB_Group_Field.active {
 	display:block;
 }
 
 #lsx-tab-headings {
	width: 10%;
	display: block;
	float: left;
 }
 
 #details .cmb_metabox {
	width: 85%;
	display: block;
	float: right;
 }
 #details .cmb_metabox .cmb_metabox {
 	width: 98%;
 	float:none;
 }
 
 #lsx-tab-headings .tab-heading {
 	text-transform:capitalize;
	width: 100%;
	display: block;
	padding: 10px 15px; 	
 }

/* The Tab Styling */
body.settings_page_lsx-lsx-settings {
	.uix-field-wrapper {
		.ui-tab-nav {
			li {
				display: inline-block;

				&::after {
					content:"|";
				}
				&:last-child:after {
					content:"";
				}
				a {
					padding:0 5px;
					text-decoration:none;

					&.active {
						color:black;
					}
					&:first-child {
						padding-left:0px;
					}
					&:focus {
						box-shadow:none;
					}
				}
			}

		}
		.ui-tab {
			display:none;

			&.active {
				display:block;
			}
		}
	}
}