@charset "UTF-8";
/*
 * Tour Operators
 */
.lsx-price-wrapper .amount .currency-icon:after,
.lsx-single-supplement-wrapper .amount .currency-icon:after,
.unit-price-wrapper .amount .currency-icon:after {
  margin-left: 3px;
  margin-right: 3px;
}
.lsx-price-wrapper .amount .currency-icon.usd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.usd:after,
.unit-price-wrapper .amount .currency-icon.usd:after, .lsx-price-wrapper .amount .currency-icon.nad:after,
.lsx-single-supplement-wrapper .amount .currency-icon.nad:after,
.unit-price-wrapper .amount .currency-icon.nad:after, .lsx-price-wrapper .amount .currency-icon.cad:after,
.lsx-single-supplement-wrapper .amount .currency-icon.cad:after,
.unit-price-wrapper .amount .currency-icon.cad:after, .lsx-price-wrapper .amount .currency-icon.hkd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.hkd:after,
.unit-price-wrapper .amount .currency-icon.hkd:after, .lsx-price-wrapper .amount .currency-icon.sgd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.sgd:after,
.unit-price-wrapper .amount .currency-icon.sgd:after, .lsx-price-wrapper .amount .currency-icon.nzd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.nzd:after,
.unit-price-wrapper .amount .currency-icon.nzd:after, .lsx-price-wrapper .amount .currency-icon.aud:after,
.lsx-single-supplement-wrapper .amount .currency-icon.aud:after,
.unit-price-wrapper .amount .currency-icon.aud:after {
  content: "$";
}
.lsx-price-wrapper .amount .currency-icon.eur:after,
.lsx-single-supplement-wrapper .amount .currency-icon.eur:after,
.unit-price-wrapper .amount .currency-icon.eur:after {
  content: "€";
}
.lsx-price-wrapper .amount .currency-icon.gbp:after,
.lsx-single-supplement-wrapper .amount .currency-icon.gbp:after,
.unit-price-wrapper .amount .currency-icon.gbp:after {
  content: "£";
}
.lsx-price-wrapper .amount .currency-icon.zar:after,
.lsx-single-supplement-wrapper .amount .currency-icon.zar:after,
.unit-price-wrapper .amount .currency-icon.zar:after {
  content: "R";
}
.lsx-price-wrapper .amount .currency-icon.brl:after,
.lsx-single-supplement-wrapper .amount .currency-icon.brl:after,
.unit-price-wrapper .amount .currency-icon.brl:after {
  content: "R$";
}
.lsx-price-wrapper .amount .currency-icon.bwp:after,
.lsx-single-supplement-wrapper .amount .currency-icon.bwp:after,
.unit-price-wrapper .amount .currency-icon.bwp:after {
  content: "P";
}
.lsx-price-wrapper .amount .currency-icon.cny:after,
.lsx-single-supplement-wrapper .amount .currency-icon.cny:after,
.unit-price-wrapper .amount .currency-icon.cny:after, .lsx-price-wrapper .amount .currency-icon.jpy:after,
.lsx-single-supplement-wrapper .amount .currency-icon.jpy:after,
.unit-price-wrapper .amount .currency-icon.jpy:after {
  content: "¥";
}
.lsx-price-wrapper .amount .currency-icon.inr:after,
.lsx-single-supplement-wrapper .amount .currency-icon.inr:after,
.unit-price-wrapper .amount .currency-icon.inr:after {
  content: "₹";
}
.lsx-price-wrapper .amount .currency-icon.idr:after,
.lsx-single-supplement-wrapper .amount .currency-icon.idr:after,
.unit-price-wrapper .amount .currency-icon.idr:after {
  content: "₹";
}
.lsx-price-wrapper .amount .currency-icon.ils:after,
.lsx-single-supplement-wrapper .amount .currency-icon.ils:after,
.unit-price-wrapper .amount .currency-icon.ils:after {
  content: "₪";
}
.lsx-price-wrapper .amount .currency-icon.kes:after,
.lsx-single-supplement-wrapper .amount .currency-icon.kes:after,
.unit-price-wrapper .amount .currency-icon.kes:after {
  content: "K";
}
.lsx-price-wrapper .amount .currency-icon.lak:after,
.lsx-single-supplement-wrapper .amount .currency-icon.lak:after,
.unit-price-wrapper .amount .currency-icon.lak:after {
  content: "₭";
}
.lsx-price-wrapper .amount .currency-icon.mwk:after,
.lsx-single-supplement-wrapper .amount .currency-icon.mwk:after,
.unit-price-wrapper .amount .currency-icon.mwk:after {
  content: "MK";
}
.lsx-price-wrapper .amount .currency-icon.myr:after,
.lsx-single-supplement-wrapper .amount .currency-icon.myr:after,
.unit-price-wrapper .amount .currency-icon.myr:after {
  content: "RM";
}
.lsx-price-wrapper .amount .currency-icon.mzn:after,
.lsx-single-supplement-wrapper .amount .currency-icon.mzn:after,
.unit-price-wrapper .amount .currency-icon.mzn:after {
  content: "MT";
}
.lsx-price-wrapper .amount .currency-icon.nok:after,
.lsx-single-supplement-wrapper .amount .currency-icon.nok:after,
.unit-price-wrapper .amount .currency-icon.nok:after, .lsx-price-wrapper .amount .currency-icon.sek:after,
.lsx-single-supplement-wrapper .amount .currency-icon.sek:after,
.unit-price-wrapper .amount .currency-icon.sek:after {
  content: "kr";
}
.lsx-price-wrapper .amount .currency-icon.rub:after,
.lsx-single-supplement-wrapper .amount .currency-icon.rub:after,
.unit-price-wrapper .amount .currency-icon.rub:after {
  content: "руб";
}
.lsx-price-wrapper .amount .currency-icon.chf:after,
.lsx-single-supplement-wrapper .amount .currency-icon.chf:after,
.unit-price-wrapper .amount .currency-icon.chf:after {
  content: "CHF";
}
.lsx-price-wrapper .amount .currency-icon.tzs:after,
.lsx-single-supplement-wrapper .amount .currency-icon.tzs:after,
.unit-price-wrapper .amount .currency-icon.tzs:after {
  content: "TSh";
}
.lsx-price-wrapper .amount .currency-icon.aed:after,
.lsx-single-supplement-wrapper .amount .currency-icon.aed:after,
.unit-price-wrapper .amount .currency-icon.aed:after {
  content: "د.إ";
}
.lsx-price-wrapper .amount .currency-icon.zmw:after,
.lsx-single-supplement-wrapper .amount .currency-icon.zmw:after,
.unit-price-wrapper .amount .currency-icon.zmw:after {
  content: "Zk";
}
.lsx-price-wrapper .amount .currency-icon.zwl:after,
.lsx-single-supplement-wrapper .amount .currency-icon.zwl:after,
.unit-price-wrapper .amount .currency-icon.zwl:after {
  content: "Z$";
}

/*.lsx-price-wrapper,
.lsx-destination-to-tour-wrapper {
	&:before {
		background-repeat: no-repeat;
		background-size: contain;
		width: 20px;
		height: 30px;
		content: " ";
		background-position: center top;
	}
}*/
.lsx-price-wrapper .amount .strike,
.lsx-single-supplement-wrapper .amount .strike,
.unit-price-wrapper .amount .strike {
  text-decoration: line-through;
}
.lsx-price-wrapper .amount .currency-icon:after,
.lsx-single-supplement-wrapper .amount .currency-icon:after,
.unit-price-wrapper .amount .currency-icon:after {
  margin-right: 0px;
  margin-left: 0px;
}

/* Additional information specific styles */
/* Fast Facts Wrapper */
.fast-facts-wrapper > .wp-block-group .wp-block-group:first-child {
  display: flex;
  align-items: flex-start;
  /* Align content in this group to the top */
  gap: 5px;
  /* Space between icon and text */
  flex-shrink: 0;
  /* Prevent group from shrinking */
}

/* Style the image icon */
.fast-facts-wrapper > .wp-block-group .wp-block-image img {
  width: 20px;
  /* Fixed width */
  height: 20px;
  /* Fixed height */
  display: flex;
  object-fit: contain;
  /* Ensure image doesn't stretch or distort */
}

/* Styling for the label (e.g., "Special Interests:") */
.fast-facts-wrapper > .wp-block-group .wp-block-group:first-child p {
  margin: 0;
  white-space: nowrap;
  /* Prevent wrapping for label */
  vertical-align: middle;
  /* Align text with the middle of the icon */
  line-height: 1.2;
  /* Improve readability */
  display: inline-block;
  /* Keep text inline */
}

/* Styling for the flowing text */
.fast-facts-wrapper > .wp-block-group .wp-block-group:last-child {
  display: flex;
  flex-wrap: nowrap;
  /* Keep the text flowing inline */
  white-space: normal;
  /* Allow wrapping for text if it overflows */
  overflow-wrap: break-word;
  /* Ensure long words wrap correctly */
  word-break: break-word;
  /* Break long words when needed */
  flex: 1;
  /* Allow the container to use available space */
  align-items: flex-start;
  /* Ensure text starts at the top */
}

/* Specific styling for the text content */
.fast-facts-wrapper > .wp-block-group .wp-block-group:last-child p {
  white-space: normal;
  /* Allow wrapping for long text */
  overflow-wrap: break-word;
  /* Break words when needed */
  word-break: break-word;
  /* Break words on legacy browsers */
  line-height: 1.4;
  /* Improve readability */
  text-transform: capitalize;
  /* Capitalize text */
  padding: 0;
  /* Ensure no unnecessary padding */
  margin: 0;
  /* Remove extra margins */
  display: inline;
  /* Ensure the text flows inline with the label */
}

/* Facilities List */
.facilities-list li::marker {
  display: none;
}

.facilities-list {
  padding-left: 0 !important;
}

.facilities-list li {
  margin-left: 10px;
  list-style: none;
  /* Remove default list marker */
  position: relative;
  /* Position for pseudo-element */
}

.facilities-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /* Center the icon vertically */
  width: 20px;
  /* Adjust the size of the tick icon */
  height: 20px;
  background-image: url("../img/tick.svg");
  /* Replace with the path to your tick.svg */
  background-size: contain;
  background-repeat: no-repeat;
  left: -28px;
}

/* Additional Info */
.additional-info .wp-block-group.content .read-more-btn, .additional-info .wp-block-group.content .read-less-btn {
  color: #0073aa;
  cursor: pointer;
  font-weight: bold;
}

.additional-info .wp-block-group.content .read-more-btn:hover {
  text-decoration: underline;
}

.additional-info .wp-block-group.content .read-less-btn {
  display: none;
}

/* FacetWP --------------------------------------------- */
.facetwp-facet input.facetwp-search {
  border: 1px solid #757575;
  padding: 8px 14px 10px;
  font-size: 18px;
  min-width: 85%;
}

.facetwp-icon {
  background: #a29f9f;
  padding: 0 4px;
}

.facetwp-icon:hover {
  background-color: #4F4F4F;
}

.facetwp-facet select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border-radius: 4px;
  color: var(--wp--preset--color--contrast);
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--x-small);
  font-weight: var(--wp--custom--font-weight--regular);
  padding: 12px 22px 12px 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border: 1px solid #757575 !important;
  cursor: default;
}

body .fs-label-wrap .fs-label {
  padding: 12px 22px 12px 12px !important;
}

body .fs-arrow {
  right: 12px !important;
}

.archive .fs-label-wrap {
  border: 1px solid #757575 !important;
  border-radius: 4px;
}

.fs-wrap .fs-search input::placeholder {
  font-size: var(--wp--preset--font-size--x-small);
}

.facetwp-selections {
  max-width: 27%;
}

.facet-row .wp-block-group {
  width: 100%;
}

button.facetwp-reset {
  background-color: var(--wp--preset--color--primary);
  border-width: 0;
  color: var(--wp--preset--color--base);
  font-family: inherit;
  font-size: var(--wp--preset--font-size--x-small);
  font-weight: 500;
  line-height: inherit;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 10px;
  padding-left: 8px;
  text-decoration: none;
  width: 150px;
  border-radius: 4px;
}

@media only screen and (min-width: 1240px) {
  body .facetwp-facet .facetwp-dropdown, body .facetwp-facet .facetwp-checkboxes, body .facetwp-facet .facetwp-range, body .facetwp-facet .facetwp-radio {
    min-width: 220px;
    /* Adjust this value as needed */
  }
  .archive .facetwp-facet {
    margin-top: 4px !important;
  }
  .archive .facetwp-type-reset {
    margin-top: -2px !important;
  }
  .archive .fs-wrap {
    width: 292px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .archive .fs-wrap {
    width: auto !important;
  }
  body .facetwp-facet .facetwp-dropdown, body .facetwp-facet .facetwp-checkboxes, body .facetwp-facet .facetwp-range, body .facetwp-facet .facetwp-radio {
    min-width: 220px;
    /* Adjust this value as needed */
  }
}
@media only screen and (max-width: 480px) {
  .facet-row .wp-block-group {
    flex-wrap: wrap !important;
  }
  .facet-row .wp-block-group p {
    width: 100% !important;
  }
  .facet-row .wp-block-group .facetwp-facet {
    width: 100% !important;
  }
  body .facetwp-facet .facetwp-dropdown, body .facetwp-facet .facetwp-checkboxes, body .facetwp-facet .facetwp-range, body .facetwp-facet .facetwp-radio {
    min-width: 100% !important;
    /* Adjust this value as needed */
  }
  .facet-row {
    flex-wrap: wrap !important;
    margin-left: -20px !important;
    margin-right: -20px !important;
  }
  .facetwp-selections {
    max-width: 100% !important;
  }
  .facetwp-input-wrap, .fs-wrap {
    width: 100% !important;
  }
  .facetwp-facet input.facetwp-search {
    min-width: 88% !important;
  }
  .facetwp-selections ul li {
    margin-left: 0 !important;
  }
  button.facetwp-reset {
    background-color: var(--wp--preset--color--primary);
    border-width: 0;
    color: var(--wp--preset--color--base);
    font-family: inherit;
    font-size: var(--wp--preset--font-size--x-small);
    font-weight: 500;
    line-height: inherit;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 7px;
    padding-right: 8px;
    padding-bottom: 7px;
    padding-left: 8px;
    text-decoration: none;
    width: 100%;
    border-radius: 4px;
  }
}
.lsx-to-slider.lsx-travel-information-wrapper .slick-list {
  max-width: 100% !important;
  width: 100% !important;
}
.lsx-to-slider.lsx-travel-information-wrapper .slick-slide {
  padding: 0 !important;
  margin: 0 10px !important;
}

.wp-block-query.lsx-to-slider,
.lsx-travel-information-wrapper.lsx-to-slider {
  gap: var(--wp--preset--spacing--small) var(--wp--preset--spacing--small);
  position: relative;
}
.wp-block-query.lsx-to-slider .slick-arrow,
.lsx-travel-information-wrapper.lsx-to-slider .slick-arrow {
  cursor: pointer;
  border-color: #000 !important;
  height: 30px;
  width: 30px;
}
.wp-block-query.lsx-to-slider .slick-arrow:before,
.lsx-travel-information-wrapper.lsx-to-slider .slick-arrow:before {
  border-color: #000 !important;
  height: 30px;
  width: 30px;
}
.wp-block-query.lsx-to-slider .slick-arrow.slick-prev:before,
.lsx-travel-information-wrapper.lsx-to-slider .slick-arrow.slick-prev:before {
  background: url("../img/left-arrow-dark.svg") no-repeat center center;
  width: 20px;
  left: 3px;
  height: 20px;
}
.wp-block-query.lsx-to-slider .slick-arrow.slick-next:before,
.lsx-travel-information-wrapper.lsx-to-slider .slick-arrow.slick-next:before {
  background: url("../img/right-arrow-dark.svg") no-repeat center center;
  width: 20px;
  left: 3px;
  height: 20px;
}

.wp-block-query.lsx-to-slider .slick-slide {
  padding: 15px !important;
}

.slick-lightbox-close {
  right: 52px;
  top: 35px;
}
.slick-lightbox-close:before {
  font-size: 40px;
}

.lsx-to-slider .slick-arrow,
.slick-lightbox-inner .slick-arrow {
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  font: 0/0 a;
  height: 4rem;
  margin-top: calc((2.25rem - 17px) / 2);
  padding: 0;
  text-shadow: none;
  transform: translateY(-50%);
  transition: border 300ms ease;
  width: 4rem;
  z-index: 3;
  color: white;
}
.lsx-to-slider .slick-arrow:before,
.slick-lightbox-inner .slick-arrow:before {
  display: block;
  font-family: "slick";
  color: white;
  font-size: 3rem;
  line-height: 1;
  position: absolute;
  text-rendering: auto;
  top: 47%;
  transform: translateY(-50%);
  transition: color 300ms ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lsx-to-slider .slick-arrow.slick-prev:before,
.slick-lightbox-inner .slick-arrow.slick-prev:before {
  background: url("../img/left-arrow.svg") no-repeat center center;
  width: 20px;
  left: 3px;
  height: 20px;
}
.lsx-to-slider .slick-arrow.slick-next:before,
.slick-lightbox-inner .slick-arrow.slick-next:before {
  background: url("../img/right-arrow.svg") no-repeat center center;
  width: 20px;
  left: 3px;
  height: 20px;
}

.slick-prev svg,
.slick-next svg {
  color: white;
}

.lsx-to-slider .slick-arrow.slick-disabled,
.slick-lightbox-inner .slick-arrow.slick-disabled {
  cursor: not-allowed;
}
.lsx-to-slider .slick-arrow.slick-prev:before,
.slick-lightbox-inner .slick-arrow.slick-prev:before {
  content: ""; /* Remove font icon */
  width: 40px;
  height: 40px;
  display: inline-block;
  left: 8px;
}
.lsx-to-slider .slick-arrow.slick-next:before,
.slick-lightbox-inner .slick-arrow.slick-next:before {
  content: ""; /* Remove font icon */
  width: 40px;
  height: 40px;
  display: inline-block;
  left: 12px;
}

.lsx-to-slider .slick-dots:not(.dropdown-menu) {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: center;
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}
.lsx-to-slider .slick-dots:not(.dropdown-menu) > li {
  line-height: 1;
  padding: 5px;
  margin-left: 15px;
}
.lsx-to-slider .slick-dots:not(.dropdown-menu) > li.slick-active > button {
  background: #000;
}
.lsx-to-slider .slick-dots:not(.dropdown-menu) > li > button {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  font: 0/0 a;
  height: 12px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  width: 12px;
}
.lsx-to-slider .slick-arrow.slick-prev {
  left: -4rem;
}
.lsx-to-slider .slick-arrow.slick-next {
  right: -4rem;
}
.lsx-to-slider.slider-disabled {
  overflow: hidden;
}
.lsx-to-slider .slick-slide .lazy-hidden {
  max-height: 154px;
}

.slick-lightbox-inner .slick-arrow {
  opacity: 0.75;
}
.slick-lightbox-inner .slick-arrow:hover {
  opacity: 1;
}

.slick-lightbox-slick-caption {
  display: inline-block;
}

.lsx-post-carousel-items .slick-slide .lazy-hidden {
  max-height: 154px;
}

.lsx-itinerary-wrapper .hidden,
.lsx-units-wrapper .hidden {
  display: none;
}

@media (min-width: 800px) {
  .single-tour-operator .toggle-button {
    display: none;
  }
}
/* Optional: Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .single-tour-operator {
    /* Styling for the toggle button */
    /* Styling for the SVG icons */
    /* Collapsed state for the second wp-block-group */
  }
  .single-tour-operator .toggle-button {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--wp--preset--color--contrast);
  }
  .single-tour-operator .toggle-icon {
    width: 16px;
    height: 16px;
    fill: var(--wp--preset--color--contrast);
    margin-left: 5px;
  }
  .single-tour-operator section.wp-block-group .wp-block-group.collapsed, .single-tour-operator section.wp-block-cover .wp-block-group.collapsed {
    display: none; /* Hide the content */
  }
  .fast-facts-wrapper > .wp-block-group {
    flex-wrap: wrap; /* Allow wrapping for better readability */
    gap: 5px;
  }
  .fast-facts-wrapper > .wp-block-group .wp-block-group.is-layout-flex:last-child {
    flex-wrap: wrap; /* Allow text to wrap on smaller screens */
  }
}
.wp-block-hm-popup {
  top: 100%;
  opacity: 0;
  transition: opacity 150ms linear, top 0s linear 150ms, overlay 150ms linear allow-discrete, display 150ms linear allow-discrete;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 200;
  box-sizing: border-box;
  max-width: var(--wp--style--global--content-size, 680px);
  width: 95vw;
  height: 95vh;
  border: 0;
  background: none;
  padding: 0;
}
.wp-block-hm-popup[open] {
  transition: opacity 150ms linear;
  display: flex;
  top: 0;
  opacity: 1;
  padding: 0;
}
.wp-block-hm-popup > * {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: var(--wp--style--global--content-padding, 1.5rem);
}

/* Before-open state */
/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {
  .wp-block-hm-popup[open] {
    opacity: 0;
    top: 100%;
  }
}
/* Transition the :backdrop when the dialog modal is promoted to the top layer */
.wp-block-hm-popup::backdrop {
  background-color: rgba(0, 0, 0, 0);
  transition: display 150ms allow-discrete, overlay 150ms allow-discrete, background-color 150ms;
}

.wp-block-hm-popup[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

/* This starting-style rule cannot be nested inside the above selector
  because the nesting selector cannot represent pseudo-elements. */
@starting-style {
  .wp-block-hm-popup[open]::backdrop {
    background-color: rgba(0, 0, 0, 0);
  }
}
.wp-block-hm-popup__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
.wp-block-hm-popup__close:hover, .wp-block-hm-popup__close:focus {
  color: var(--wp--preset--color--primary);
}

.lsx-map.wp-block-group.hidden {
  display: none;
}

.lsx-to-map-marker {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 5px 0;
  width: 100%;
}
.lsx-to-map-marker .lsx-to-map-marker-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: var(--wp--preset--color--contrast);
}
.lsx-to-map-marker .lsx-to-map-marker-content.content-area {
  margin: 0;
}
.lsx-to-map-marker .lsx-to-map-marker-content .entry-content {
  margin-top: 10px;
}
.lsx-to-map-marker .lsx-to-map-marker-content .entry-content p {
  margin-bottom: 0;
  margin-top: 1.2rem;
}
.lsx-to-map-marker .lsx-to-map-marker-content .entry-content p > a.moretag:after {
  color: inherit;
  content: "\f178";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  margin-right: 5px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lsx-to-map-marker .lsx-to-map-marker-img {
  margin-right: 15px;
  max-width: 100px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.lsx-to-map-marker .lsx-to-map-marker-title {
  margin-bottom: 10px;
  margin-top: 0;
}

.lsx-itinerary-wrapper .hidden,
.lsx-units-wrapper .hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
