@charset "UTF-8";
/*
 * Tour Operators
 */
.lsx-price-wrapper .amount .currency-icon:after,
.lsx-single-supplement-wrapper .amount .currency-icon:after,
.unit-price-wrapper .amount .currency-icon:after {
  margin-left: 3px;
  margin-right: 3px;
}
.lsx-price-wrapper .amount .currency-icon.usd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.usd:after,
.unit-price-wrapper .amount .currency-icon.usd:after, .lsx-price-wrapper .amount .currency-icon.nad:after,
.lsx-single-supplement-wrapper .amount .currency-icon.nad:after,
.unit-price-wrapper .amount .currency-icon.nad:after, .lsx-price-wrapper .amount .currency-icon.cad:after,
.lsx-single-supplement-wrapper .amount .currency-icon.cad:after,
.unit-price-wrapper .amount .currency-icon.cad:after, .lsx-price-wrapper .amount .currency-icon.hkd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.hkd:after,
.unit-price-wrapper .amount .currency-icon.hkd:after, .lsx-price-wrapper .amount .currency-icon.sgd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.sgd:after,
.unit-price-wrapper .amount .currency-icon.sgd:after, .lsx-price-wrapper .amount .currency-icon.nzd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.nzd:after,
.unit-price-wrapper .amount .currency-icon.nzd:after, .lsx-price-wrapper .amount .currency-icon.aud:after,
.lsx-single-supplement-wrapper .amount .currency-icon.aud:after,
.unit-price-wrapper .amount .currency-icon.aud:after {
  content: "$";
}
.lsx-price-wrapper .amount .currency-icon.eur:after,
.lsx-single-supplement-wrapper .amount .currency-icon.eur:after,
.unit-price-wrapper .amount .currency-icon.eur:after {
  content: "€";
}
.lsx-price-wrapper .amount .currency-icon.gbp:after,
.lsx-single-supplement-wrapper .amount .currency-icon.gbp:after,
.unit-price-wrapper .amount .currency-icon.gbp:after {
  content: "£";
}
.lsx-price-wrapper .amount .currency-icon.zar:after,
.lsx-single-supplement-wrapper .amount .currency-icon.zar:after,
.unit-price-wrapper .amount .currency-icon.zar:after {
  content: "R";
}
.lsx-price-wrapper .amount .currency-icon.brl:after,
.lsx-single-supplement-wrapper .amount .currency-icon.brl:after,
.unit-price-wrapper .amount .currency-icon.brl:after {
  content: "R$";
}
.lsx-price-wrapper .amount .currency-icon.bwp:after,
.lsx-single-supplement-wrapper .amount .currency-icon.bwp:after,
.unit-price-wrapper .amount .currency-icon.bwp:after {
  content: "P";
}
.lsx-price-wrapper .amount .currency-icon.cny:after,
.lsx-single-supplement-wrapper .amount .currency-icon.cny:after,
.unit-price-wrapper .amount .currency-icon.cny:after, .lsx-price-wrapper .amount .currency-icon.jpy:after,
.lsx-single-supplement-wrapper .amount .currency-icon.jpy:after,
.unit-price-wrapper .amount .currency-icon.jpy:after {
  content: "¥";
}
.lsx-price-wrapper .amount .currency-icon.inr:after,
.lsx-single-supplement-wrapper .amount .currency-icon.inr:after,
.unit-price-wrapper .amount .currency-icon.inr:after {
  content: "₹";
}
.lsx-price-wrapper .amount .currency-icon.idr:after,
.lsx-single-supplement-wrapper .amount .currency-icon.idr:after,
.unit-price-wrapper .amount .currency-icon.idr:after {
  content: "₹";
}
.lsx-price-wrapper .amount .currency-icon.ils:after,
.lsx-single-supplement-wrapper .amount .currency-icon.ils:after,
.unit-price-wrapper .amount .currency-icon.ils:after {
  content: "₪";
}
.lsx-price-wrapper .amount .currency-icon.kes:after,
.lsx-single-supplement-wrapper .amount .currency-icon.kes:after,
.unit-price-wrapper .amount .currency-icon.kes:after {
  content: "K";
}
.lsx-price-wrapper .amount .currency-icon.lak:after,
.lsx-single-supplement-wrapper .amount .currency-icon.lak:after,
.unit-price-wrapper .amount .currency-icon.lak:after {
  content: "₭";
}
.lsx-price-wrapper .amount .currency-icon.mwk:after,
.lsx-single-supplement-wrapper .amount .currency-icon.mwk:after,
.unit-price-wrapper .amount .currency-icon.mwk:after {
  content: "MK";
}
.lsx-price-wrapper .amount .currency-icon.myr:after,
.lsx-single-supplement-wrapper .amount .currency-icon.myr:after,
.unit-price-wrapper .amount .currency-icon.myr:after {
  content: "RM";
}
.lsx-price-wrapper .amount .currency-icon.mzn:after,
.lsx-single-supplement-wrapper .amount .currency-icon.mzn:after,
.unit-price-wrapper .amount .currency-icon.mzn:after {
  content: "MT";
}
.lsx-price-wrapper .amount .currency-icon.nok:after,
.lsx-single-supplement-wrapper .amount .currency-icon.nok:after,
.unit-price-wrapper .amount .currency-icon.nok:after, .lsx-price-wrapper .amount .currency-icon.sek:after,
.lsx-single-supplement-wrapper .amount .currency-icon.sek:after,
.unit-price-wrapper .amount .currency-icon.sek:after {
  content: "kr";
}
.lsx-price-wrapper .amount .currency-icon.rub:after,
.lsx-single-supplement-wrapper .amount .currency-icon.rub:after,
.unit-price-wrapper .amount .currency-icon.rub:after {
  content: "руб";
}
.lsx-price-wrapper .amount .currency-icon.chf:after,
.lsx-single-supplement-wrapper .amount .currency-icon.chf:after,
.unit-price-wrapper .amount .currency-icon.chf:after {
  content: "CHF";
}
.lsx-price-wrapper .amount .currency-icon.tzs:after,
.lsx-single-supplement-wrapper .amount .currency-icon.tzs:after,
.unit-price-wrapper .amount .currency-icon.tzs:after {
  content: "TSh";
}
.lsx-price-wrapper .amount .currency-icon.aed:after,
.lsx-single-supplement-wrapper .amount .currency-icon.aed:after,
.unit-price-wrapper .amount .currency-icon.aed:after {
  content: "د.إ";
}
.lsx-price-wrapper .amount .currency-icon.zmw:after,
.lsx-single-supplement-wrapper .amount .currency-icon.zmw:after,
.unit-price-wrapper .amount .currency-icon.zmw:after {
  content: "Zk";
}
.lsx-price-wrapper .amount .currency-icon.zwl:after,
.lsx-single-supplement-wrapper .amount .currency-icon.zwl:after,
.unit-price-wrapper .amount .currency-icon.zwl:after {
  content: "Z$";
}

.lsx-price-wrapper .amount .strike,
.lsx-single-supplement-wrapper .amount .strike,
.unit-price-wrapper .amount .strike {
  text-decoration: line-through;
}
.lsx-price-wrapper .amount .currency-icon:after,
.lsx-single-supplement-wrapper .amount .currency-icon:after,
.unit-price-wrapper .amount .currency-icon:after {
  margin-right: 0px;
  margin-left: 0px;
}

/* Additional information specific styles */
/* Fast Facts Wrapper */
.fast-facts-wrapper > .wp-block-group .wp-block-group:first-child {
  display: flex;
  align-items: flex-start;
  /* Align content in this group to the top */
  gap: 5px;
  /* Space between icon and text */
  flex-shrink: 0;
  /* Prevent group from shrinking */
}

/* Style the image icon */
.fast-facts-wrapper > .wp-block-group .wp-block-image img {
  width: 20px;
  /* Fixed width */
  height: 20px;
  /* Fixed height */
  display: flex;
  object-fit: contain;
  /* Ensure image doesn't stretch or distort */
}

/* Styling for the label (e.g., "Special Interests:") */
.fast-facts-wrapper > .wp-block-group .wp-block-group:first-child p {
  margin: 0;
  white-space: nowrap;
  /* Prevent wrapping for label */
  vertical-align: middle;
  /* Align text with the middle of the icon */
  line-height: 1.2;
  /* Improve readability */
  display: inline-block;
  /* Keep text inline */
}
/*# sourceMappingURL=style.css.map */
