@charset "UTF-8";
/*
 * LSX Tour Operators
 */
.lsx-price-wrapper .amount .currency-icon:after,
.lsx-single-supplement-wrapper .amount .currency-icon:after,
.unit-price-wrapper .amount .currency-icon:after {
  margin-left: 3px;
  margin-right: 3px;
}
.lsx-price-wrapper .amount .currency-icon.usd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.usd:after,
.unit-price-wrapper .amount .currency-icon.usd:after, .lsx-price-wrapper .amount .currency-icon.nad:after,
.lsx-single-supplement-wrapper .amount .currency-icon.nad:after,
.unit-price-wrapper .amount .currency-icon.nad:after, .lsx-price-wrapper .amount .currency-icon.cad:after,
.lsx-single-supplement-wrapper .amount .currency-icon.cad:after,
.unit-price-wrapper .amount .currency-icon.cad:after, .lsx-price-wrapper .amount .currency-icon.hkd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.hkd:after,
.unit-price-wrapper .amount .currency-icon.hkd:after, .lsx-price-wrapper .amount .currency-icon.sgd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.sgd:after,
.unit-price-wrapper .amount .currency-icon.sgd:after, .lsx-price-wrapper .amount .currency-icon.nzd:after,
.lsx-single-supplement-wrapper .amount .currency-icon.nzd:after,
.unit-price-wrapper .amount .currency-icon.nzd:after, .lsx-price-wrapper .amount .currency-icon.aud:after,
.lsx-single-supplement-wrapper .amount .currency-icon.aud:after,
.unit-price-wrapper .amount .currency-icon.aud:after {
  content: "$";
}
.lsx-price-wrapper .amount .currency-icon.eur:after,
.lsx-single-supplement-wrapper .amount .currency-icon.eur:after,
.unit-price-wrapper .amount .currency-icon.eur:after {
  content: "€";
}
.lsx-price-wrapper .amount .currency-icon.gbp:after,
.lsx-single-supplement-wrapper .amount .currency-icon.gbp:after,
.unit-price-wrapper .amount .currency-icon.gbp:after {
  content: "£";
}
.lsx-price-wrapper .amount .currency-icon.zar:after,
.lsx-single-supplement-wrapper .amount .currency-icon.zar:after,
.unit-price-wrapper .amount .currency-icon.zar:after {
  content: "R";
}
.lsx-price-wrapper .amount .currency-icon.brl:after,
.lsx-single-supplement-wrapper .amount .currency-icon.brl:after,
.unit-price-wrapper .amount .currency-icon.brl:after {
  content: "R$";
}
.lsx-price-wrapper .amount .currency-icon.bwp:after,
.lsx-single-supplement-wrapper .amount .currency-icon.bwp:after,
.unit-price-wrapper .amount .currency-icon.bwp:after {
  content: "P";
}
.lsx-price-wrapper .amount .currency-icon.cny:after,
.lsx-single-supplement-wrapper .amount .currency-icon.cny:after,
.unit-price-wrapper .amount .currency-icon.cny:after, .lsx-price-wrapper .amount .currency-icon.jpy:after,
.lsx-single-supplement-wrapper .amount .currency-icon.jpy:after,
.unit-price-wrapper .amount .currency-icon.jpy:after {
  content: "¥";
}
.lsx-price-wrapper .amount .currency-icon.inr:after,
.lsx-single-supplement-wrapper .amount .currency-icon.inr:after,
.unit-price-wrapper .amount .currency-icon.inr:after {
  content: "₹";
}
.lsx-price-wrapper .amount .currency-icon.idr:after,
.lsx-single-supplement-wrapper .amount .currency-icon.idr:after,
.unit-price-wrapper .amount .currency-icon.idr:after {
  content: "₹";
}
.lsx-price-wrapper .amount .currency-icon.ils:after,
.lsx-single-supplement-wrapper .amount .currency-icon.ils:after,
.unit-price-wrapper .amount .currency-icon.ils:after {
  content: "₪";
}
.lsx-price-wrapper .amount .currency-icon.kes:after,
.lsx-single-supplement-wrapper .amount .currency-icon.kes:after,
.unit-price-wrapper .amount .currency-icon.kes:after {
  content: "K";
}
.lsx-price-wrapper .amount .currency-icon.lak:after,
.lsx-single-supplement-wrapper .amount .currency-icon.lak:after,
.unit-price-wrapper .amount .currency-icon.lak:after {
  content: "₭";
}
.lsx-price-wrapper .amount .currency-icon.mwk:after,
.lsx-single-supplement-wrapper .amount .currency-icon.mwk:after,
.unit-price-wrapper .amount .currency-icon.mwk:after {
  content: "MK";
}
.lsx-price-wrapper .amount .currency-icon.myr:after,
.lsx-single-supplement-wrapper .amount .currency-icon.myr:after,
.unit-price-wrapper .amount .currency-icon.myr:after {
  content: "RM";
}
.lsx-price-wrapper .amount .currency-icon.mzn:after,
.lsx-single-supplement-wrapper .amount .currency-icon.mzn:after,
.unit-price-wrapper .amount .currency-icon.mzn:after {
  content: "MT";
}
.lsx-price-wrapper .amount .currency-icon.nok:after,
.lsx-single-supplement-wrapper .amount .currency-icon.nok:after,
.unit-price-wrapper .amount .currency-icon.nok:after, .lsx-price-wrapper .amount .currency-icon.sek:after,
.lsx-single-supplement-wrapper .amount .currency-icon.sek:after,
.unit-price-wrapper .amount .currency-icon.sek:after {
  content: "kr";
}
.lsx-price-wrapper .amount .currency-icon.rub:after,
.lsx-single-supplement-wrapper .amount .currency-icon.rub:after,
.unit-price-wrapper .amount .currency-icon.rub:after {
  content: "руб";
}
.lsx-price-wrapper .amount .currency-icon.chf:after,
.lsx-single-supplement-wrapper .amount .currency-icon.chf:after,
.unit-price-wrapper .amount .currency-icon.chf:after {
  content: "CHF";
}
.lsx-price-wrapper .amount .currency-icon.tzs:after,
.lsx-single-supplement-wrapper .amount .currency-icon.tzs:after,
.unit-price-wrapper .amount .currency-icon.tzs:after {
  content: "TSh";
}
.lsx-price-wrapper .amount .currency-icon.aed:after,
.lsx-single-supplement-wrapper .amount .currency-icon.aed:after,
.unit-price-wrapper .amount .currency-icon.aed:after {
  content: "د.إ";
}
.lsx-price-wrapper .amount .currency-icon.zmw:after,
.lsx-single-supplement-wrapper .amount .currency-icon.zmw:after,
.unit-price-wrapper .amount .currency-icon.zmw:after {
  content: "Zk";
}
.lsx-price-wrapper .amount .currency-icon.zwl:after,
.lsx-single-supplement-wrapper .amount .currency-icon.zwl:after,
.unit-price-wrapper .amount .currency-icon.zwl:after {
  content: "Z$";
}

/*.lsx-price-wrapper,
.lsx-destination-to-tour-wrapper {
	&:before {
		background-repeat: no-repeat;
		background-size: contain;
		width: 20px;
		height: 30px;
		content: " ";
		background-position: center top;
	}
}*/
.lsx-price-wrapper .amount .strike,
.lsx-single-supplement-wrapper .amount .strike,
.unit-price-wrapper .amount .strike {
  text-decoration: line-through;
}
.lsx-price-wrapper .amount .currency-icon:after,
.lsx-single-supplement-wrapper .amount .currency-icon:after,
.unit-price-wrapper .amount .currency-icon:after {
  margin-right: 0px;
}

/* Additional information specific styles */
/* Fast Facts Wrapper */
.fast-facts-wrapper > .wp-block-group .wp-block-group:first-child {
  display: flex;
  align-items: flex-start; /* Align content in this group to the top */
  gap: 5px; /* Space between icon and text */
  flex-shrink: 0; /* Prevent group from shrinking */
}

/* Style the image icon */
.fast-facts-wrapper > .wp-block-group .wp-block-image img {
  width: 20px; /* Fixed width */
  height: 20px; /* Fixed height */
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain; /* Ensure image doesn't stretch or distort */
}

/* Styling for the label (e.g., "Special Interests:") */
.fast-facts-wrapper > .wp-block-group .wp-block-group:first-child p {
  margin: 0;
  white-space: nowrap; /* Prevent wrapping for label */
  vertical-align: middle; /* Align text with the middle of the icon */
  line-height: 1.2; /* Improve readability */
  display: inline-block; /* Keep text inline */
}

/* Styling for the flowing text */
.fast-facts-wrapper > .wp-block-group .wp-block-group:last-child {
  display: flex;
  flex-wrap: nowrap; /* Keep the text flowing inline */
  white-space: normal; /* Allow wrapping for text if it overflows */
  overflow-wrap: break-word; /* Ensure long words wrap correctly */
  word-break: break-word; /* Break long words when needed */
  flex: 1; /* Allow the container to use available space */
  align-items: flex-start; /* Ensure text starts at the top */
}

/* Specific styling for the text content */
.fast-facts-wrapper > .wp-block-group .wp-block-group:last-child p {
  white-space: normal; /* Allow wrapping for long text */
  overflow-wrap: break-word; /* Break words when needed */
  word-break: break-word; /* Break words on legacy browsers */
  line-height: 1.4; /* Improve readability */
  text-transform: capitalize; /* Capitalize text */
  padding: 0; /* Ensure no unnecessary padding */
  margin: 0; /* Remove extra margins */
  display: inline; /* Ensure the text flows inline with the label */
}

/* Facilities List */
.facilities-list li::marker {
  display: none;
}

.facilities-list {
  padding-left: 0 !important;
}

.facilities-list li {
  margin-left: 10px;
  list-style: none; /* Remove default list marker */
  position: relative; /* Position for pseudo-element */
}

.facilities-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Center the icon vertically */
  width: 20px; /* Adjust the size of the tick icon */
  height: 20px;
  background-image: url("../../img/tick.svg"); /* Replace with the path to your tick.svg */
  background-size: contain;
  background-repeat: no-repeat;
  left: -28px;
}

/* Additional Info */
.additional-info .wp-block-group.content .read-more-btn,
.additional-info .wp-block-group.content .read-less-btn {
  color: #0073aa;
  cursor: pointer;
  font-weight: bold;
}

.additional-info .wp-block-group.content .read-more-btn:hover {
  text-decoration: underline;
}

.additional-info .wp-block-group.content .read-less-btn {
  display: none;
}

.lsx-to-slider.lsx-travel-information-wrapper .slick-list {
  max-width: 100% !important;
  width: 100% !important;
}
.lsx-to-slider.lsx-travel-information-wrapper .slick-slide {
  padding: 0 !important;
  margin: 0 10px !important;
}

.wp-block-query.lsx-to-slider,
.lsx-travel-information-wrapper.lsx-to-slider {
  gap: var(--wp--preset--spacing--small) var(--wp--preset--spacing--small);
  position: relative;
}
.wp-block-query.lsx-to-slider .slick-arrow,
.lsx-travel-information-wrapper.lsx-to-slider .slick-arrow {
  cursor: pointer;
  border-color: #000 !important;
  height: 30px;
  width: 30px;
}
.wp-block-query.lsx-to-slider .slick-arrow:before,
.lsx-travel-information-wrapper.lsx-to-slider .slick-arrow:before {
  border-color: #000 !important;
  height: 30px;
  width: 30px;
}
.wp-block-query.lsx-to-slider .slick-arrow.slick-prev:before,
.lsx-travel-information-wrapper.lsx-to-slider .slick-arrow.slick-prev:before {
  background: url("../img/left-arrow-dark.svg") no-repeat center center;
  width: 20px;
  left: 3px;
  height: 20px;
}
.wp-block-query.lsx-to-slider .slick-arrow.slick-next:before,
.lsx-travel-information-wrapper.lsx-to-slider .slick-arrow.slick-next:before {
  background: url("../img/right-arrow-dark.svg") no-repeat center center;
  width: 20px;
  left: 3px;
  height: 20px;
}

.wp-block-query.lsx-to-slider .slick-slide {
  padding: 15px !important;
}

.slick-lightbox-close {
  right: 52px;
  top: 35px;
}
.slick-lightbox-close:before {
  font-size: 40px;
}

.lsx-to-slider .slick-arrow,
.slick-lightbox-inner .slick-arrow {
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  font: 0/0 a;
  height: 4rem;
  margin-top: calc((2.25rem - 17px) / 2);
  padding: 0;
  text-shadow: none;
  transform: translateY(-50%);
  transition: border 300ms ease;
  width: 4rem;
  z-index: 3;
  color: white;
}
.lsx-to-slider .slick-arrow:before,
.slick-lightbox-inner .slick-arrow:before {
  display: block;
  font-family: "slick";
  color: white;
  font-size: 3rem;
  line-height: 1;
  position: absolute;
  text-rendering: auto;
  top: 47%;
  transform: translateY(-50%);
  transition: color 300ms ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev svg,
.slick-next svg {
  color: white;
}

.lsx-to-slider .slick-arrow.slick-disabled,
.slick-lightbox-inner .slick-arrow.slick-disabled {
  cursor: not-allowed;
}
.lsx-to-slider .slick-arrow.slick-prev:before,
.slick-lightbox-inner .slick-arrow.slick-prev:before {
  content: ""; /* Remove font icon */
  width: 40px;
  height: 40px;
  display: inline-block;
  left: 10px;
}
.lsx-to-slider .slick-arrow.slick-next:before,
.slick-lightbox-inner .slick-arrow.slick-next:before {
  content: ""; /* Remove font icon */
  width: 40px;
  height: 40px;
  display: inline-block;
  left: 12px;
}

.lsx-to-slider .slick-dots:not(.dropdown-menu) {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: center;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
}
.lsx-to-slider .slick-dots:not(.dropdown-menu) > li {
  line-height: 1;
  padding: 5px;
}
.lsx-to-slider .slick-dots:not(.dropdown-menu) > li > button {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  font: 0/0 a;
  height: 12px;
  transition: all 300ms ease-in-out;
  width: 4rem;
}
.lsx-to-slider .slick-arrow.slick-prev {
  left: -4rem;
}
.lsx-to-slider .slick-arrow.slick-next {
  right: -4rem;
}
.lsx-to-slider.slider-disabled {
  overflow: hidden;
}
.lsx-to-slider .slick-slide .lazy-hidden {
  max-height: 154px;
}

.slick-lightbox-inner .slick-arrow {
  opacity: 0.75;
}
.slick-lightbox-inner .slick-arrow:hover {
  opacity: 1;
}

.slick-lightbox-slick-caption {
  display: inline-block;
}

.lsx-post-carousel-items .slick-slide .lazy-hidden {
  max-height: 154px;
}

.lsx-itinerary-wrapper .hidden,
.lsx-units-wrapper .hidden {
  display: none;
}

@media (min-width: 800px) {
  .single-tour-operator .toggle-button {
    display: none;
  }
}
/* Optional: Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .single-tour-operator {
    /* Styling for the toggle button */
    /* Styling for the SVG icons */
    /* Collapsed state for the second wp-block-group */
  }
  .single-tour-operator .toggle-button {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--wp--preset--color--contrast);
  }
  .single-tour-operator .toggle-icon {
    width: 16px;
    height: 16px;
    fill: var(--wp--preset--color--contrast);
    margin-left: 5px;
  }
  .single-tour-operator section.wp-block-group .wp-block-group.collapsed {
    display: none; /* Hide the content */
  }
  .fast-facts-wrapper > .wp-block-group {
    flex-wrap: wrap; /* Allow wrapping for better readability */
    gap: 5px;
  }
  .fast-facts-wrapper > .wp-block-group .wp-block-group.is-layout-flex:last-child {
    flex-wrap: wrap; /* Allow text to wrap on smaller screens */
  }
}
.lsx-itinerary-wrapper .hidden,
.lsx-units-wrapper .hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */