.lsx-to-contact-widget {
	margin-top: $lsx-to-gap;
	padding: $lsx-to-gap-half / 2;

	@include media('>=phone') {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		/** IE 11 Fix for widget box **/
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			display: block;
		}
	}

	@include media('>=tablet') { margin-top: 0; }

	#fast-facts + &, #highlights + & { margin-top: 0; }

	& div:first-child {
		&.lsx-to-enquire-form {
			padding-top: $lsx-to-gap-half / 2;
		}
	}

	.lsx-to-contact-info {
		h4 {
			a {
				color: #fff
			}
		}
	}
}


.lsx-to-contact {
	@include media('>=phone') { flex: 2; }

	article {
		@include media('>=phone') {
			align-items: center;
			display: flex;
			justify-content: center;
		}
	}
}

.lsx-to-enquire-form {
	article.type-lsx-to-team & {
		margin-top: $lsx-to-gap-half;
		text-align: center;
	}

	article:not(.type-lsx-to-team) &,
	.lsx-to-archive-header & {
		align-items: center;
		display: flex;
		flex: 1;
		justify-content: center;
		padding: 0 1.2rem 1.2rem;
		.btn {
			width: 100%;
		}
	}
}

.lsx-to-contact-thumb {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center;
	padding: $lsx-to-gap-half / 2;
	@include media('>=tablet') {
		padding: 1.2rem 0 0;
	}

	img {
		border-radius: 50%;
		height: 96px;
		width: 96px;

		@include media('>=tablet') { margin: -$lsx-to-gap-half 0 ($lsx-to-gap-half / 2); }
	}
}

.lsx-to-contact-info {
	padding: $lsx-to-gap-half / 2;

	@include media('>=phone') { flex: 2; }
}

.lsx-to-contact-prefix {
	display: block;
	font-size: 13px;
	text-align: left;
}

h4.lsx-to-contact-name {
	font-size: 20px;
	margin-bottom: 0;
	text-align: left;
}

.lsx-to-contact-socials {
	& > a {
		font-size: 17px;
		line-height: 1;
		padding: 0 5px;
	}
}

.single-lsx-to-accommodation {
	.lsx-to-archive-container {
		.lsx-to-contact-widget {
			.lsx-to-contact-info {
				h4 {
					a {
						color:#fff!important
					}
				}
			}
		}
	}
}