%currency-icons {
	.currency-icon {
		&:after {
			margin-left: 3px;
			margin-right: 3px;
		}

		&.usd,
		&.nad,
		&.cad,
		&.hkd,
		&.sgd,
		&.nzd,
		&.aud {
			&:after { content: '\0024'; }
		}

		&.eur {
			&:after { content: '\20AC'; }
		}

		&.gbp {
			&:after { content: '\00A3'; }
		}

		&.zar {
			&:after { content: '\0052'; }
		}

		&.brl {
			&:after { content: '\0052\0024'; }
		}

		&.bwp {
			&:after { content: '\0050'; }
		}

		&.cny,
		&.jpy {
			&:after { content: '\00A5'; }
		}

		&.inr {
			&:after { content: '\20B9'; }
		}

		&.idr {
			&:after { content: '\20B9'; }
		}

		&.ils {
			&:after { content: '\20AA'; }
		}

		&.kes {
			&:after { content: '\004b'; }
		}

		&.lak {
			&:after { content: '\20ad'; }
		}

		&.mwk {
			&:after { content: '\004d\004b'; }
		}

		&.myr {
			&:after { content: '\0052\004d'; }
		}

		&.mzn {
			&:after { content: '\004d\0054'; }
		}

		&.nok,
		&.sek {
			&:after { content: '\006b\0072'; }
		}

		&.rub {
			&:after { content: '\0440\0443\0431'; }
		}

		&.chf {
			&:after { content: '\0043\0048\0046'; }
		}

		&.tzs {
			&:after { content: '\0054\0053\0068'; }
		}

		&.aed {
			&:after { content: '\062f\002e\0625'; }
		}

		&.zmw {
			&:after { content: '\005a\006b'; }
		}

		&.zwl {
			&:after { content: '\005a\0024'; }
		}
	}
}

.lsx-to-meta-data {
	display: block;
	font-size: 13px;
	padding-left: 22px;
	position: relative;

	.lsx-to-contact-meta-data & { padding-left: 0; }

	& + .lsx-to-meta-data { margin-top: 5px; }

	#fast-facts & {
		font-size: 15px;
		margin: 0 1.2rem;
		padding-top: 1.2rem;
	}

	.lsx-to-summary-meta-data & {
		font-size: 15px;

		@include media ('>=tablet') {
			display: inline-block;
			margin-top: 0;

			& + .lsx-to-meta-data { margin-left: $lsx-to-gap-half; }
		}
	}

	&:before {
		color: inherit;
		display: inline-block;
		font-family: 'FontAwesome';
		font-size: inherit;
		left: 0;
		position: absolute;
		text-rendering: auto;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.lsx-to-meta-data-price {
		@extend %currency-icons;

		.currency-icon {
			&:after { margin-right: 0px; }
		}
	}

	&.lsx-to-meta-data-accommodations:before { content: '\f015'; }
	&.lsx-to-meta-data-activities:before { content: '\f1e5'; }
	&.lsx-to-meta-data-brand:before { content: '\f1ad'; }
	&.lsx-to-meta-data-destinations:before { content: '\f0ac'; }
	&.lsx-to-meta-data-duration:before { content: '\f133'; }
	&.lsx-to-meta-data-email:before { content: '\f0e0'; }
	&.lsx-to-meta-data-friendly:before { content: '\f046'; }
	&.lsx-to-meta-data-languages:before { content: '\f1ab'; }
	&.lsx-to-meta-data-phone:before { content: '\f095'; }
	&.lsx-to-meta-data-pin:before { content: '\f041'; }
	&.lsx-to-meta-data-price:before { content: '\f0d6'; }
	&.lsx-to-meta-data-rating:before { content: '\f006'; }
	&.lsx-to-meta-data-role:before { content: '\f0c0'; }
	&.lsx-to-meta-data-rooms:before { content: '\f236'; }
	&.lsx-to-meta-data-skype:before { content: '\f17e'; }
	&.lsx-to-meta-data-special:before { content: '\f069'; }
	&.lsx-to-meta-data-style:before { content: '\f02b'; }
	&.lsx-to-meta-data-team:before { content: '\f007'; }
	&.lsx-to-meta-data-tours:before { content: '\f072'; }
	&.lsx-to-meta-data-travel-dates:before { content: '\f073'; }
	&.lsx-to-meta-data-type:before { content: '\f292'; }
	&.lsx-to-meta-data-valid-from:before { content: '\f073'; }
}
