@include media('<custom') {

	.single-lsx-to-accommodation,
	.single-lsx-to-destination,
	.single-lsx-to-tour,
	.single-lsx-to-review,
	.single-lsx-to-team {

		& > .wrap.container {
			padding-left: 0;
			padding-right: 0;

			#primary {
				.lsx-to-section {
					margin: 0;
					padding: 0 15px;
				}

				#collapse-summary {
					.collapse-inner {
						& > .row {
							margin: 0;
							padding: 2.4rem 0;
						}
					}
				}
				section {
					> .lsx-to-section-title {
						margin: 0 -15px;
						padding: 4.25rem 0;
					}
				}

			}
		}
	}

	.post-type-archive-lsx-to-destination,
	.post-type-archive-lsx-to-tour,
	.post-type-archive-lsx-to-accommodation,
	.post-type-archive-lsx-to-special,
	.post-type-archive-lsx-to-review,
	.post-type-archive-lsx-to-team,
	.tax-lsx-to-accommodation-brand,
	.terms-conditions {

		.header-wrap {
			.breadcrumbs-container {
				padding: 15px 0px;
				margin: 0px;
			}
		}

		.wrap.container {
			.content.role.row {
				margin-left:0;
				margin-right:0;

				#primary {
					padding:0;
				}
			}
		}
	}

}
