body.single-tour-operator {
	.modal-body {
		article {
			.entry-content {
				.moretag {
					width: 230px;
					display: block;
					margin-left: auto !important;
					margin-right: auto !important;
					padding-left: 30px !important;
					padding-right: 30px !important;
				}
			}
		}
	}
}

.lsx-to-modal-content-area {
	&.content-area { margin: 0; }

	.lsx-to-modal-thumb { margin-bottom: $lsx-to-gap-half; }

	.lsx-to-modal-meta-data { margin-bottom: $lsx-to-gap-half; }

	.entry-content {
		p:last-of-type { margin-bottom: 4px; }
	}
}

.lsx-to-map-marker {
	align-items: flex-start;
	display: flex;
	flex-flow: row nowrap;
	height: auto;
	justify-content: flex-start;
	padding: 5px 0;
	width: 100%;

	.lsx-to-map-marker-content {
		flex-grow: 1;

		&.content-area { margin: 0; }

		.entry-content {
			p {
				margin-bottom: 0;
				margin-top: 1.2rem;

				& > a.moretag {
					&:after {
						color: inherit;
						content: '\f178';
						display: inline-block;
						font-family: 'FontAwesome';
						font-size: inherit;
						margin-left: 5px;
						text-rendering: auto;

						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}
			}
		}
	}

	.lsx-to-map-marker-img {
		margin-right: 15px;
		max-width: 100px;
		flex-shrink: 0;
	}

	.lsx-to-map-marker-title { margin-bottom: 1.2rem; }
}

.gm-style {
	.gm-style-iw {
		& + div {
			border: 5px solid white !important;
			border-radius: 50% !important;
			height: 23px !important;
			opacity: 1 !important;
			right: 5px !important;
			top: 5px !important;
			width: 23px !important;

			@include media('>=tablet') {
				box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
				right: -10px !important;
				top: -10px !important;
			}
		}
	}
}
