.lsx-to-navigation {
	.lsx-to-content-spy:not(.dropdown-menu) {
		align-items: flex-start;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		margin: 0 -9999rem;
		padding: 0 9996.6rem; // 9999rem - 2.4rem

		& > li {
			position: relative;

			& + li {
				margin-left: 1px;

				&:before {
					content: '';
					display: inline-block;
					height: 30px;
					left: -1px;
					position: absolute;
					top: 10px;
					width: 1px;
					z-index: 2;
				}
			}

			& > a {
				&,
				&:focus {
					font-size: 14px;
					font-weight: 700;
					line-height: 50px;
					padding: 0 $lsx-to-gap-half;
					text-transform: uppercase;
					transition: background 300ms ease;
				}
			}
		}
	}
}
