/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(41, 41, 41);
$light-gray: #F6F6F6;;
$gray: #f2f2f2;
$green: #1098ad;
$orange: #f7ae00;
