@mixin customizer-to-main-menu-colours($dropdown: #374750, $dropdown-hover: #2B3840, $dropdown-link: #FFF, $dropdown-link-hover: #1098AD) {
	.lsx-to-navigation {
		.lsx-to-content-spy:not(.dropdown-menu) {
			background-color: $dropdown;

			& > li {
				& + li {
					&:before { background-color: $dropdown-hover; }
				}

				& > a {
					&,
					&:focus {
						background-color: transparent;
						color: $dropdown-link;
					}

					&:hover {
						background-color: $dropdown-hover;
						color: $dropdown-link-hover;
					}
				}

				&.active {
					& > a {
						background-color: $dropdown-hover;
						color: $dropdown-link-hover;
					}
				}
			}
		}
	}

	.lsx-to-section-title {
		&.lsx-to-collapse-title, &.lsx-to-collapse-title.lsx-title {
			@media (max-width: 1199px) {
				background-color: $dropdown-hover;
				border-bottom-color: $dropdown-hover;
				color: $dropdown-link-hover;

				&.collapsed {
					background-color: $dropdown;
					border-bottom-color: $dropdown-hover;
					color: $dropdown-link;
				}
			}
		}
	}

	#when-to-go {
		.lsx-to-month {
			border-color: $dropdown;

			&:nth-child(6), &:last-child { border-right-color: $dropdown; }

			& > small {
				background-color: $dropdown;
				color: $dropdown-link;
			}

			&.lsx-to-month-check {
				& > .fa { color: $dropdown-hover; }
			}
		}
	}
}
