.lsx-map {
	&.wp-block-group.hidden {
		display: none;
	}
}

.lsx-to-map-marker {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	height: auto;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 5px 0;
	width: 100%;

	.lsx-to-map-marker-content {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;

		&.content-area {
			margin: 0;
		}

		.entry-content {
			margin-top: 10px;
			
			p {
				margin-bottom: 0;
				margin-top: 1.2rem;

				> a.moretag:after {
					color: inherit;
					content: '\f178';
					display: inline-block;
					font-family: 'FontAwesome';
					font-size: inherit;
					margin-right: 5px;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}
	}

	.lsx-to-map-marker-img {
		margin-right: 15px;
		max-width: 100px;
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}

	.lsx-to-map-marker-title {
		margin-bottom: 10px;
		margin-top: 0;
	}
}