.wp-block-hm-popup {
	top: 100%;
	opacity: 0;
	transition:
		opacity 150ms linear,
		top 0s linear 150ms,
		overlay 150ms linear allow-discrete,
		display 150ms linear allow-discrete;
	align-items: center;
	justify-content: center;
	overflow: auto;
	z-index: 200;
	box-sizing: border-box;
	max-width: var(--wp--style--global--content-size, 680px);
	width: 95vw;
	height: 95vh;
	border: 0;
	background: none;

	&[open] {
		transition: opacity 150ms linear;
		display: flex;
		top: 0;
		opacity: 1;
		padding: 0;
	}

	> * {
		position: relative;
		z-index: 2;
		width: 100%;
		background-color: rgb(255, 255, 255);
	}
}

/* Before-open state */
/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {
	.wp-block-hm-popup[open] {
		opacity: 0;
		top: 100%;
	}
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
.wp-block-hm-popup::backdrop {
	background-color: rgba(0, 0, 0, 0%);
	transition:
		display 150ms allow-discrete,
		overlay 150ms allow-discrete,
		background-color 150ms;
}

.wp-block-hm-popup[open]::backdrop {
	background-color: rgba(0, 0, 0, 75%);
}

/* This starting-style rule cannot be nested inside the above selector
  because the nesting selector cannot represent pseudo-elements. */
@starting-style {
	.wp-block-hm-popup[open]::backdrop {
		background-color: rgba(0, 0, 0, 0%);
	}
}

.wp-block-hm-popup__close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0.5rem;
	&:hover, &:focus {
		color: var(--wp--preset--color--primary);
	}
}
