.lsx-to-section {
	margin: 0 -9999rem;
	padding: 8.5rem 9999rem;

	.site-main > & {
		&:nth-of-type(odd) { background-color: #FFF; }

		&:first-of-type {
			background-color: #F6F6F6;
			padding-top: 0;

			.single-lsx-to-team & { padding-bottom: 0; }
		}
	}

	.lsx-to-section { padding-bottom: 0; }
}

#keynotes { padding-top: 0; }

#highlights {
	@include media('<phone') { margin-top: 8.5rem; }
}

.included {
	& + .not-included {
		@include media('<phone') { margin-top: 8.5rem; }
	}
}

.lsx-to-single-meta-data {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

	.lsx-to-meta-data {
		width: calc(100% - 2.4rem);

		@include media('>=phone') { width: calc(50% - 2.4rem); }
	}
}

.facilities-wrapper {
	margin-top: -2.4rem;

	@include media('>=phone') {
		align-items: flex-start;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
}

.facilities-content {
	margin-top: 4.25rem;

	.facilities-list:not(.dropdown-menu) {
		align-items: flex-start;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
	}
}

.facilities-title {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 1.2rem;
}

.facility-item {
	display: inline-block;
	font-size: 13px;
	padding-right: 15px;
	position: relative;
	width: 100%;

	@include media('>=tablet') { width: 33.33333%; }
}

.travel-info-wrapper {
	margin-top: -2.4rem;

	@include media('>=phone') {
		align-items: flex-start;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}
}

.travel-info-content {
	margin-top: 4.25rem;
	overflow: hidden;
	padding: 2.4rem 2.4rem 0;

	.lsx-to-section:nth-of-type(odd) & { background-color: #F6F6F6; }
	.lsx-to-section:nth-of-type(even) & { background-color: #FFF; }
}

.rooms-wrapper {
	margin-top: -2.4rem;

	@include media('>=phone') {
		align-items: flex-start;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}
}

.rooms-content {
	align-items: stretch;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	margin-top: 4.25rem;
	overflow: hidden;

	.lsx-to-section:nth-of-type(odd) & { background-color: #F6F6F6; }
	.lsx-to-section:nth-of-type(even) & { background-color: #FFF; }
}

.rooms-thumbnail {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	flex-shrink: 0;
	width: 33.33333%;
}

.rooms-info {
	flex-grow: 1;
	padding: 2.4rem 2.4rem 0;
}

.lsx-to-team-thumb {
	border-radius: 50%;
	display: block;
	height: 32rem;
	margin: 0 auto 10px;
	overflow: hidden;
	width: 32rem;

    & > img { width: 100%; }
}

.lsx-to-team-socials-header {
	display: block;
	margin: 0 auto;
	padding-bottom: 5px;
	position: relative;
	text-align: center;

    &:after {
		border-bottom: 1px solid;
		bottom: 0;
		content: '';
		height: 0;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 80px;
    }
}

.lsx-to-team-socials {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 2rem 0 0;
	padding: 0;

	& > a {
		align-items: center;
		border-radius: 50%;
		display: flex;
		height: 30px;
		justify-content: center;
		margin: 0 10px;
		transition: background 300ms ease;
		width: 30px;
	}
}

.single-lsx-to-team {
	.lsx-to-team-name {
		margin-top: 8.5rem;
		margin-bottom: 1.2rem;

		@include media('>=phone') { margin-top: 0; }
	}

	.lsx-to-team-contact:not(.dropdown) {
		margin-bottom: 0;
		margin-left: 0;
		margin-top: 4.25rem;
		padding-left: 0;

		& > li {
			display: block;
			padding-left: 0;
			padding-right: 0;

			& + li { margin-top: 1.2rem; }

			@include media('>=tablet') {
				display: inline-block;

				& + li {
					margin-left: 2.4rem;
					margin-top: 0;
				}
			}

		}

		& .fa {
			font-size: 22px;
			margin-right: 5px;
			vertical-align: middle;
		}
	}
}
