.lsx-to-section {
	margin: 0 -9999rem;
	padding: 8.5rem 9999rem;

	.site-main > & {
		&:first-of-type { padding-top: 0; }

		&:nth-child(even) { background-color: #FFF; }
	}

	.lsx-to-section { padding-bottom: 0; }
}

#keynotes {
	background-color: transparent;
	padding-top: 0;
}

#highlights {
	@include media('<phone') { margin-top: 8.5rem; }
}

.included {
	& + .not-included {
		@include media('<phone') { margin-top: 8.5rem; }
	}
}

.lsx-to-single-meta-data {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

	.lsx-to-meta-data {
		width: calc(100% - 2.4rem);

		@include media('>=phone') { width: calc(50% - 2.4rem); }
	}
}
