/*
 * LSX Tour Operators
 */

@import 'include-media';
@import 'customizer-to-body-colours';
@import 'customizer-to-main-menu-colours';

@import 'base/variables';

@import 'base/scaffolding';

@import 'layout/widget';
@import 'layout/slider';
@import 'layout/meta-data';
@import 'layout/archive';
@import 'layout/contact';
@import 'layout/single-sections';
@import 'layout/spy-bar';
@import 'layout/modals';
@import 'layout/maps';
@import 'layout/mobile';

@include customizer-to-body-colours(#F6F6F6, #DADDDF, #4A4A4A, #1098AD, #F7AE00, #919191);
@include customizer-to-main-menu-colours(#374750, #2B3840, #FFF, #1098AD);
