@charset "UTF-8";
/*
 * LSX Tour Operators
 */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.col-xs-15 {
  float: left;
  width: 20%;
}

@media (min-width: 768px) {
  .col-sm-15 {
    float: left;
    width: 20%;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    float: left;
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    float: left;
    width: 20%;
  }
}
.breadcrumbs-container {
  margin-left: initial !important;
  margin-right: initial !important;
  padding-left: initial !important;
  padding-right: initial !important;
  width: auto;
}

.lsx-to-widget-items {
  margin-top: -4.25rem;
}

.lsx-to-widget-items .lsx-to-widget-item-wrap.lsx-team .team .lsx-team-description .moretag {
  display: none;
}

.lsx-to-widget-item-wrap {
  margin-top: 4.25rem;
}
.lsx-to-slider-inner .lsx-to-widget-item-wrap {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .lsx-to-slider-inner.slider-disabled .lsx-to-widget-item-wrap {
    float: left;
    width: 50%;
  }
  .lsx-to-slider-inner.slider-disabled .lsx-to-widget-item-wrap:nth-child(2n+3) {
    clear: left;
  }
}
@media (min-width: 992px) {
  .lsx-to-slider-inner.slider-disabled .lsx-to-widget-item-wrap {
    width: 33.33333%;
  }
  .lsx-to-slider-inner.slider-disabled .lsx-to-widget-item-wrap:nth-child(2n+3) {
    clear: none;
  }
  .lsx-to-slider-inner.slider-disabled .lsx-to-widget-item-wrap:nth-child(3n+4) {
    clear: left;
  }
}
@media (min-width: 992px) {
  .lsx-to-widget-item-wrap.lsx-to-widget-just-one-item:not(.lsx-review) article {
    display: flex;
  }
  .lsx-to-widget-item-wrap.lsx-to-widget-just-one-item:not(.lsx-review) article .lsx-to-widget-thumb {
    flex: 1 1 auto;
    max-width: 30%;
  }
  .lsx-to-widget-item-wrap.lsx-to-widget-just-one-item:not(.lsx-review) article .lsx-to-widget-thumb a {
    min-width: 100%;
  }
  .lsx-to-widget-item-wrap.lsx-to-widget-just-one-item:not(.lsx-review) article .lsx-to-widget-thumb a img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    object-fit: cover;
  }
  .lsx-to-widget-item-wrap.lsx-to-widget-just-one-item:not(.lsx-review) article .lsx-to-widget-content {
    flex: 4 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /** IE 11 Fix for widget box **/
  }
}
@media (min-width: 992px) and (-ms-high-contrast: none), (min-width: 992px) and (-ms-high-contrast: active) {
  .lsx-to-widget-item-wrap.lsx-to-widget-just-one-item:not(.lsx-review) article .lsx-to-widget-content {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
}
@media (min-width: 992px) {
  .lsx-to-widget-item-wrap.lsx-to-widget-just-one-item:not(.lsx-review) article .lsx-to-widget-content .lsx-to-widget-title {
    text-align: left;
  }
}

.lsx-to-widget-view-all {
  margin-top: 6rem;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.lsx-to-widget-view-all > span {
  display: inline-block;
  position: relative;
}
.lsx-to-widget-view-all > span:before, .lsx-to-widget-view-all > span:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 999rem;
}
.lsx-to-widget-view-all > span:before {
  right: 120%;
}
.lsx-to-widget-view-all > span:after {
  left: 120%;
}

.lsx-to-widget-item-wrap.lsx-video .lsx-to-widget-content {
  padding-bottom: 2.4rem;
}
.lsx-to-widget-item-wrap .lsx-to-widget-content {
  padding: 2.4rem 2rem 0;
}
.lsx-to-widget-item-wrap .lsx-to-widget-content .lsx-to-widget-title:only-child {
  margin-bottom: 0;
}
.lsx-to-widget-item-wrap .lsx-to-widget-content .moretag {
  display: block;
  margin: 0 -2rem;
  padding: 1rem 0;
  text-align: center;
  transition: background 300ms ease;
}
.lsx-to-widget-item-wrap .lsx-to-widget-content .moretag:after {
  color: inherit;
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  margin-left: 5px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lsx-to-widget-item-wrap .lsx-to-widget-content p:last-child {
  margin-bottom: 0;
}
.lsx-to-widget-item-wrap .lsx-to-widget-tagline {
  margin-top: -1.2rem;
}
.lsx-to-widget-item-wrap.lsx-team .lsx-to-widget-thumb {
  border-radius: 50%;
  height: 170px;
  margin: 0 auto 12px;
  overflow: hidden;
  position: relative;
  width: 170px;
}
.lsx-to-widget-item-wrap.lsx-review .lsx-to-widget-thumb {
  border-radius: 50%;
  height: 100px;
  margin: 0 auto 12px;
  overflow: hidden;
  position: relative;
  width: 100px;
}
.lsx-to-widget-item-wrap.lsx-review .lsx-to-widget-thumb img {
  height: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .lsx-to-widget-item-wrap.lsx-review .lsx-to-widget-blockquote {
    max-width: none;
  }
}
.lsx-to-widget-item-wrap .lsx-to-widget-thumb img {
  width: 100%;
}
.lsx-to-widget-item-wrap .lsx-to-widget-thumb img.lazyload, .lsx-to-widget-item-wrap .lsx-to-widget-thumb img.lazyloading {
  width: auto;
}

.lsx-to-widget-meta-data {
  margin: 2.4rem 0;
  position: relative;
}
.lsx-to-widget-item-wrap.lsx-review .lsx-to-widget-meta-data {
  margin-bottom: 0;
}

.white {
  color: white !important;
}

.gray-bg .lsx-to-widget-item-wrap article .lsx-to-widget-content,
.gray-bg .has-thumb.slick-slide .lsx-block-post-grid-text {
  background: #F6F6F6;
}

.lsx-block-post-grid-link.lsx-text-link {
  color: #1098ad !important;
}
.lsx-block-post-grid-link.lsx-text-link:hover {
  color: #f7ae00 !important;
}

.lsx-to-slider .lsx-to-slider-inner:not(.slick-initialized) {
  display: flex;
  flex-wrap: wrap;
}
.lsx-to-slider .lsx-to-slider-inner:not(.slick-initialized) .lsx-to-widget-item-wrap {
  width: 33%;
  display: block;
}

.slick-lightbox-close {
  right: 32px;
  top: 32px;
}

.lsx-to-slider-inner .slick-arrow,
.gallery .slick-arrow,
.slick-lightbox-inner .slick-arrow {
  background: transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  font: 0/0 a;
  height: 4rem;
  margin-top: calc((2.25rem - 17px) / 2);
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 50%;
  transform: translateY(-50%);
  transition: border 300ms ease;
  width: 4rem;
  z-index: 3;
}
.lsx-to-slider-inner .slick-arrow:before,
.gallery .slick-arrow:before,
.slick-lightbox-inner .slick-arrow:before {
  display: block;
  font-family: "FontAwesome";
  font-size: 3rem;
  line-height: 1;
  position: absolute;
  text-rendering: auto;
  top: 47%;
  transform: translateY(-50%);
  transition: color 300ms ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lsx-to-slider-inner .slick-arrow.slick-disabled,
.gallery .slick-arrow.slick-disabled,
.slick-lightbox-inner .slick-arrow.slick-disabled {
  cursor: not-allowed;
}
.lsx-to-slider-inner .slick-arrow.slick-prev:before,
.gallery .slick-arrow.slick-prev:before,
.slick-lightbox-inner .slick-arrow.slick-prev:before {
  content: "";
  left: 1.1rem;
}
.lsx-to-slider-inner .slick-arrow.slick-next:before,
.gallery .slick-arrow.slick-next:before,
.slick-lightbox-inner .slick-arrow.slick-next:before {
  content: "";
  left: 1.5rem;
}

.lsx-to-slider-inner .slick-dots:not(.dropdown-menu),
.gallery .slick-dots:not(.dropdown-menu) {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: center;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
}
.lsx-to-slider-inner .slick-dots:not(.dropdown-menu) > li,
.gallery .slick-dots:not(.dropdown-menu) > li {
  line-height: 1;
  padding: 5px;
}
@media (min-width: 992px) {
  .lsx-to-slider-inner .slick-dots:not(.dropdown-menu) > li,
.gallery .slick-dots:not(.dropdown-menu) > li {
    padding: 0 7.5px;
  }
}
.lsx-to-slider-inner .slick-dots:not(.dropdown-menu) > li > button,
.gallery .slick-dots:not(.dropdown-menu) > li > button {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  font: 0/0 a;
  height: 12px;
  transition: all 300ms ease-in-out;
  width: 4rem;
}
@media (min-width: 992px) {
  .lsx-to-slider-inner .slick-dots:not(.dropdown-menu) > li > button,
.gallery .slick-dots:not(.dropdown-menu) > li > button {
    height: 6px;
  }
}
.lsx-to-slider-inner .slick-arrow.slick-prev,
.gallery .slick-arrow.slick-prev {
  left: -4rem;
}
.lsx-to-slider-inner .slick-arrow.slick-next,
.gallery .slick-arrow.slick-next {
  right: -4rem;
}

@media (min-width: 992px) {
  .lsx-to-slider-inner {
    margin: 0 auto;
    width: 100%;
  }
  .lsx-to-slider-inner.slick-has-arrows {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 1280px) {
  .lsx-to-slider-inner {
    margin: 0 -15px;
    width: calc(100% + 30px);
  }
  .lsx-to-slider-inner.slick-has-arrows {
    width: calc(100% + 30px);
  }
}
.lsx-to-slider-inner.slider-disabled {
  overflow: hidden;
}

.slick-lightbox-inner .slick-arrow {
  opacity: 0.75;
}
.slick-lightbox-inner .slick-arrow:hover {
  opacity: 1;
}

.slick-lightbox-slick-caption {
  display: inline-block;
}

.lsx-to-slider .slick-slide .lazy-hidden,
.lsx-post-carousel-items .slick-slide .lazy-hidden {
  max-height: 154px;
}

.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon:after {
  margin-left: 3px;
  margin-right: 3px;
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.usd:after, .lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.nad:after, .lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.cad:after, .lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.hkd:after, .lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.sgd:after, .lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.nzd:after, .lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.aud:after {
  content: "$";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.eur:after {
  content: "€";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.gbp:after {
  content: "£";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.zar:after {
  content: "R";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.brl:after {
  content: "R$";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.bwp:after {
  content: "P";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.cny:after, .lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.jpy:after {
  content: "¥";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.inr:after {
  content: "₹";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.idr:after {
  content: "₹";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.ils:after {
  content: "₪";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.kes:after {
  content: "K";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.lak:after {
  content: "₭";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.mwk:after {
  content: "MK";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.myr:after {
  content: "RM";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.mzn:after {
  content: "MT";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.nok:after, .lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.sek:after {
  content: "kr";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.rub:after {
  content: "руб";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.chf:after {
  content: "CHF";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.tzs:after {
  content: "TSh";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.aed:after {
  content: "د.إ";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.zmw:after {
  content: "Zk";
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon.zwl:after {
  content: "Z$";
}

.lsx-to-meta-data {
  display: block;
  font-size: 13px;
  padding-left: 22px;
  position: relative;
}
.lsx-to-contact-meta-data .lsx-to-meta-data {
  padding-left: 0;
}
.lsx-to-meta-data + .lsx-to-meta-data {
  margin-top: 5px;
}
#fast-facts .lsx-to-meta-data {
  font-size: 15px;
  margin-top: 0;
  padding-top: 1.2rem;
}
#fast-facts .lsx-to-meta-data:first-child {
  padding-top: 0;
}
.lsx-to-summary-meta-data .lsx-to-meta-data {
  font-size: 15px;
}
@media (min-width: 992px) {
  .lsx-to-summary-meta-data .lsx-to-meta-data {
    display: inline-block;
    margin-top: 0;
  }
  .lsx-to-summary-meta-data .lsx-to-meta-data + .lsx-to-meta-data {
    margin-left: 2.4rem;
  }
}
.lsx-to-meta-data:before {
  color: inherit;
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  left: 0;
  position: absolute;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lsx-to-meta-data .lsx-to-meta-data-key {
  font-weight: bold;
}
.lsx-to-archive-template-list .lsx-to-meta-data:not(.lsx-to-meta-data-duration):not(.lsx-to-meta-data-price) .lsx-to-meta-data-key {
  display: inline-block;
}
.lsx-to-meta-data.lsx-to-meta-data-big {
  font-size: 18px;
  padding-left: 0;
}
.lsx-to-meta-data.lsx-to-meta-data-big:before {
  display: none;
}
.lsx-to-meta-data.lsx-to-meta-data-price .currency-icon:after {
  margin-right: 0px;
}
.lsx-to-meta-data.lsx-to-meta-data-accommodations:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-activities:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-brand:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-destinations:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-duration:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-email:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-friendly:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-languages:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-phone:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-pin:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-price:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-rating:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-role:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-rooms:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-skype:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-special:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-style:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-team:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-tours:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-travel-dates:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-type:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-seating:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-valid-from:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-day-includes:before {
  content: "";
}
.lsx-to-meta-data.lsx-to-meta-data-day-excludes:before {
  content: "";
}

.lsx-to-meta-data.lsx-to-meta-data-best-time:before {
  content: "";
}

.lsx-to-meta-data.lsx-to-meta-data-regions:before {
  content: "";
}

.archive.archive-tour-operator .site-main,
.search.archive-tour-operator .site-main {
  width: 100%;
}

.lsx-to-archive-items {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: -4.25rem;
  width: calc(100% + 30px);
}
.lsx-to-archive-items:after, .lsx-to-archive-items:before {
  display: none;
}

.lsx-to-archive-item {
  margin-top: 4.25rem;
}
.lsx-to-archive-item > .lsx-to-archive-container {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .lsx-to-archive-template-list .lsx-to-archive-item > .lsx-to-archive-container {
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) {
  .lsx-to-archive-template-list.lsx-to-archive-template-image-max-height .lsx-to-archive-item > .lsx-to-archive-container .lsx-to-archive-thumb > a,
.lsx-to-archive-template-list.lsx-to-archive-template-image-max-height .lsx-to-archive-item > .lsx-to-archive-container .lsx-to-archive-thumb .lsx-to-thumb-slot {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0 0 100%;
    position: relative;
  }
  .lsx-to-archive-template-list.lsx-to-archive-template-image-max-height .lsx-to-archive-item > .lsx-to-archive-container .lsx-to-archive-thumb > a > img,
.lsx-to-archive-template-list.lsx-to-archive-template-image-max-height .lsx-to-archive-item > .lsx-to-archive-container .lsx-to-archive-thumb .lsx-to-thumb-slot > img {
    bottom: 0;
    left: 0;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 100%;
  }
}
.search-results .lsx-to-archive-item > .lsx-to-archive-container.post .entry-content, .search-results .lsx-to-archive-item > .lsx-to-archive-container.page .entry-content {
  padding: 0;
}
.lsx-to-archive-template-grid .lsx-to-archive-item > .lsx-to-archive-container.destination .entry-content > p {
  margin-bottom: 0;
}
.lsx-to-archive-item > .lsx-to-archive-container.team .lsx-to-meta-data-socials {
  padding-left: 0;
}
.lsx-to-archive-item > .lsx-to-archive-container.team .lsx-to-meta-data-socials > a {
  font-size: 17px;
}
.lsx-to-archive-item > .lsx-to-archive-container.team .lsx-to-meta-data-socials > a + a {
  margin-left: 5px;
}
.lsx-to-archive-template-grid .lsx-to-archive-item > .lsx-to-archive-container.team {
  background-color: transparent;
}
.lsx-to-archive-template-grid .lsx-to-archive-item > .lsx-to-archive-container.team .lsx-to-archive-content-title {
  margin-top: 2.4rem;
}
.lsx-to-archive-template-grid .lsx-to-archive-item > .lsx-to-archive-container.team .lsx-to-archive-wrapper {
  padding: 0;
}
.lsx-to-archive-template-grid .lsx-to-archive-item > .lsx-to-archive-container.team .lsx-to-archive-thumb {
  border-radius: 50%;
  height: 170px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 170px;
}
.lsx-to-archive-template-grid .lsx-to-archive-item > .lsx-to-archive-container.team .entry-content {
  text-align: center;
}
.lsx-to-archive-template-grid .lsx-to-archive-item > .lsx-to-archive-container.team .lsx-to-archive-meta-data {
  text-align: center;
}
.lsx-to-archive-template-grid .lsx-to-archive-item > .lsx-to-archive-container.team .lsx-to-archive-meta-data .lsx-to-meta-data {
  padding-left: 0;
}
.lsx-to-archive-template-grid .lsx-to-archive-item > .lsx-to-archive-container.team .lsx-to-archive-meta-data .lsx-to-meta-data:before {
  left: auto;
  margin-right: 5px;
  position: relative;
}
.lsx-to-archive-item > .lsx-to-archive-container > .moretag {
  display: block;
  padding: 1rem 0;
  text-align: center;
  transition: background 300ms ease;
  width: 100%;
}
.lsx-to-archive-item > .lsx-to-archive-container > .moretag:after {
  color: inherit;
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  margin-left: 5px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lsx-to-archive-item .lsx-to-single-link {
  margin-bottom: 0;
  margin-top: 2.4rem;
}
.lsx-to-archive-item .lsx-to-single-link .fa {
  margin-left: 5px;
}

.lsx-to-archive-items-separator.lsx-title {
  margin-top: 8.5rem;
}
.lsx-to-archive-items-separator.lsx-title:first-child {
  margin-top: 0;
}

.lsx-to-archive-header {
  margin: 0;
}

.lsx-to-archive-description {
  padding-left: 5px;
  padding-right: 0;
}
.lsx-to-archive-description > p:last-child, .lsx-to-archive-description > p:only-child {
  margin-bottom: 0;
}
body:not(.page-has-banner) .lsx-to-archive-description {
  margin-top: 4.25rem;
}

.lsx-to-archive-thumb {
  width: 100%;
}
@media (max-width: 767px) {
  .lsx-to-archive-thumb > a,
.lsx-to-archive-thumb .lsx-to-thumb-slot {
    background-image: none !important;
  }
  .lsx-to-archive-thumb > a > img,
.lsx-to-archive-thumb .lsx-to-thumb-slot > img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .lsx-to-archive-template-list .lsx-to-archive-thumb {
    flex-shrink: 0;
    position: relative;
    width: 25%;
  }
  .lsx-to-archive-template-list .lsx-to-archive-thumb > a,
.lsx-to-archive-template-list .lsx-to-archive-thumb .lsx-to-thumb-slot {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .lsx-to-archive-template-list .lsx-to-archive-thumb > a > img,
.lsx-to-archive-template-list .lsx-to-archive-thumb .lsx-to-thumb-slot > img {
    display: none;
  }
}
.lsx-to-archive-template-grid .lsx-to-archive-thumb > a,
.lsx-to-archive-template-grid .lsx-to-archive-thumb .lsx-to-thumb-slot {
  background-image: none !important;
  display: block;
}
.lsx-to-archive-template-grid .lsx-to-archive-thumb > a > img,
.lsx-to-archive-template-grid .lsx-to-archive-thumb .lsx-to-thumb-slot > img {
  width: 100%;
  min-height: 148px;
  object-fit: cover;
}

.lsx-to-archive-wrapper {
  padding: 20px;
}
@media (min-width: 768px) {
  .lsx-to-archive-template-list .lsx-to-archive-wrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: flex-end;
    min-height: 130px;
    padding: 2.4rem 15px;
  }
}
@media (min-width: 992px) {
  .lsx-to-archive-template-list .lsx-to-archive-wrapper {
    min-height: 170px;
  }
}
@media (min-width: 1200px) {
  .lsx-to-archive-template-list .lsx-to-archive-wrapper {
    min-height: 200px;
  }
}
.lsx-to-archive-template-grid .lsx-to-archive-wrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .lsx-to-archive-template-list .lsx-to-archive-content {
    flex-grow: 1;
    padding-right: 15px;
  }
}
.lsx-to-archive-content .entry-content p:last-child {
  margin-bottom: 0;
}
.lsx-to-archive-template-grid .lsx-to-archive-content .entry-content .moretag {
  display: none;
}
.lsx-to-archive-content .entry-content .moretag:after {
  color: inherit;
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  margin-left: 5px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lsx-to-archive-meta-data {
  margin-top: 2.4rem;
}
.lsx-to-archive-template-grid .lsx-to-archive-meta-data.lsx-to-archive-meta-data-list-mode {
  display: none;
}
.lsx-to-archive-template-grid .lsx-to-archive-meta-data + .entry-content {
  margin-top: 2.4rem;
}
@media (min-width: 768px) {
  .lsx-to-archive-template-list .lsx-to-archive-meta-data {
    flex-shrink: 0;
    margin-top: 0;
    padding-left: 15px;
    width: 40%;
  }
}
@media (min-width: 992px) {
  .lsx-to-archive-template-list .lsx-to-archive-meta-data {
    width: 33%;
  }
}
@media (min-width: 768px) {
  .lsx-to-archive-template-list .lsx-to-archive-meta-data.lsx-to-archive-meta-data-grid-mode {
    display: none;
  }
}
@media (max-width: 767px) {
  .lsx-to-archive-template-list .lsx-to-archive-meta-data.lsx-to-archive-meta-data-list-mode {
    display: none;
  }
}
@media (max-width: 767px) {
  .lsx-to-archive-template-list .lsx-to-archive-meta-data + .entry-content {
    margin-top: 2.4rem;
  }
}

.lsx-to-archive-template-grid .lsx-to-archive-content-title {
  text-align: center;
}
.lsx-to-archive-template-grid .lsx-to-archive-content-title:only-child {
  margin-bottom: 0;
}
.lsx-to-archive-content-title .lsx-to-label {
  font-size: 60%;
  line-height: 27px;
  margin-left: 5px;
  padding: 4px 1rem;
  vertical-align: top;
}
.lsx-to-archive-template-grid .lsx-to-archive-content-title .lsx-to-label {
  display: none;
}
.lsx-to-archive-content-title + .entry-content:empty, .lsx-to-archive-content-title + .lsx-to-archive-content-tagline + .entry-content:empty {
  display: none;
}

.lsx-to-archive-content-tagline:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .lsx-to-archive-content-tagline {
    margin-top: -1.2rem;
  }
}
.lsx-to-archive-template-grid .lsx-to-archive-content-tagline {
  text-align: center;
}

.lsx-to-contact-widget {
  margin-top: 4.25rem;
  padding: 1.2rem;
}
@media (min-width: 768px) {
  .lsx-to-contact-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    /** IE 11 Fix for widget box **/
  }
}
@media (min-width: 768px) and (-ms-high-contrast: none), (min-width: 768px) and (-ms-high-contrast: active) {
  .lsx-to-contact-widget {
    display: block;
  }
}
@media (min-width: 992px) {
  .lsx-to-contact-widget {
    margin-top: 0;
  }
}
#fast-facts + .lsx-to-contact-widget, #highlights + .lsx-to-contact-widget {
  margin-top: 0;
}
.lsx-to-contact-widget div:first-child.lsx-to-enquire-form {
  padding-top: 1.2rem;
}
.lsx-to-contact-widget .lsx-to-contact-info h4 a {
  color: #fff;
}

@media (min-width: 768px) {
  .lsx-to-contact {
    flex: 2;
  }
}
@media (min-width: 768px) {
  .lsx-to-contact article {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

article.type-lsx-to-team .lsx-to-enquire-form {
  margin-top: 2.4rem;
  text-align: center;
}
article:not(.type-lsx-to-team) .lsx-to-enquire-form, .lsx-to-archive-header .lsx-to-enquire-form {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0 1.2rem 1.2rem;
}
article:not(.type-lsx-to-team) .lsx-to-enquire-form .btn, .lsx-to-archive-header .lsx-to-enquire-form .btn {
  width: 100%;
}

.lsx-to-contact-thumb {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1.2rem;
}
@media (min-width: 992px) {
  .lsx-to-contact-thumb {
    padding: 1.2rem 0 0;
  }
}
.lsx-to-contact-thumb img {
  border-radius: 50%;
  height: 96px;
  width: 96px;
}
@media (min-width: 992px) {
  .lsx-to-contact-thumb img {
    margin: -2.4rem 0 1.2rem;
  }
}

.lsx-to-contact-info {
  padding: 1.2rem;
}
@media (min-width: 768px) {
  .lsx-to-contact-info {
    flex: 2;
  }
}

.lsx-to-contact-prefix {
  display: block;
  font-size: 13px;
  text-align: left;
}

h4.lsx-to-contact-name {
  font-size: 20px;
  margin-bottom: 0;
  text-align: left;
}

.lsx-to-contact-socials > a {
  font-size: 17px;
  line-height: 1;
  padding: 0 5px;
}

.lsx-to-archive-container .lsx-to-contact-widget .lsx-to-contact-info h4 a {
  color: #fff !important;
}

.lsx-to-section {
  margin: 0 -9999rem;
  padding: 8.5rem 9999rem;
}
.lsx-to-section#activity-map, .lsx-to-section#special-map, .lsx-to-section#accommodation-map, .lsx-to-section#destination-map, .lsx-to-section#tour-map {
  margin: 0 0 0 calc(-50vw + 50%);
  padding: 0;
  width: 100vw;
}
.archive .lsx-to-section#destination-map {
  margin-top: 8.5rem;
  margin-left: calc(-100vw / 2 + 500px / 2);
  margin-right: calc(-100vw / 2 + 500px / 2);
}
.archive .lsx-to-section#destination-map .lsx-map-preview {
  text-align: center;
}
.archive .lsx-to-section#destination-map .lsx-map-placeholder {
  width: initial;
}
.site-main > .lsx-to-section:first-of-type {
  padding-top: 0;
}
.lsx-to-section .lsx-to-section {
  padding-bottom: 0;
}
@media (max-width: 1199px) {
  .lsx-to-section.lsx-to-collapse-section {
    padding-bottom: 0;
    padding-top: 0;
  }
  .lsx-to-section.lsx-to-collapse-section .collapse-inner {
    padding-bottom: 8.5rem;
    padding-top: 8.5rem;
  }
  .lsx-to-section.lsx-to-collapse-section#activity-map .collapse-inner, .lsx-to-section.lsx-to-collapse-section#special-map .collapse-inner, .lsx-to-section.lsx-to-collapse-section#accommodation-map .collapse-inner, .lsx-to-section.lsx-to-collapse-section#destination-map .collapse-inner, .lsx-to-section.lsx-to-collapse-section#tour-map .collapse-inner {
    padding-bottom: 0;
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .lsx-to-section.lsx-to-collapse-section .collapse {
    display: block;
  }
}

@media (min-width: 992px) {
  .to-facts-wrapper {
    max-width: 420px;
    margin: 0 auto;
    float: right;
  }
}

.lsx-to-section-inner {
  margin-top: 4.25rem;
  padding: 2.4rem;
}
@media (min-width: 992px) {
  #fast-facts .lsx-to-section-inner {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .entry-content .lsx-to-section-inner {
    margin-top: 0;
  }
}
#fast-facts + #highlights .lsx-to-section-inner {
  margin-top: 0;
  padding-top: 0;
}
@media (min-width: 992px) {
  #highlights .lsx-to-section-inner {
    margin-top: 0;
  }
}
.lsx-to-section-inner + #sharing {
  margin-top: 4.25rem;
}

#fast-facts.full-fact {
  display: block !important;
}

.lsx-to-section-title + .lsx-to-archive-items, .lsx-to-section-title + .lsx-to-widget-items {
  margin-top: -2.4rem;
}
.lsx-to-section-title + .envira-gallery-wrap {
  margin-top: 4.25rem;
}
@media (max-width: 1199px) {
  .lsx-to-section-title.lsx-to-collapse-title {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 0 -9999rem;
    padding: 4.25rem 9999rem;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }
  .lsx-to-section-title.lsx-to-collapse-title:after {
    background-color: transparent;
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    height: auto;
    margin: 0 0 0 20px;
    text-rendering: auto;
    width: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .lsx-to-section-title.lsx-to-collapse-title.collapsed:after {
    content: "";
  }
}

.lsx-to-section-title-small {
  font-size: 22px;
  font-weight: 700;
}

.lsx-to-section-view-all {
  margin-top: 4.25rem;
}

.single-tour-operator .content-area {
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .single-tour-operator .content-area {
    margin-top: 0;
  }
}
.single-tour-operator #sharing .lsx-sharing-content > p {
  margin-bottom: 2.4rem;
  text-align: center;
}
@media (min-width: 768px) {
  .single-tour-operator #sharing .lsx-sharing-content > p {
    margin-bottom: 0;
    text-align: left;
  }
}

.lsx-to-more-link:after {
  color: inherit;
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  margin-left: 5px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lsx-to-summary {
  margin-bottom: 2.4rem;
}
@media (min-width: 992px) {
  .lsx-to-summary {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .lsx-to-summary .lsx-to-summary-title {
    margin-bottom: 0;
  }
}

#included-excluded .entry-content ul,
#highlights .entry-content ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 20px;
}
#included-excluded .entry-content ul li,
#highlights .entry-content ul li {
  position: relative;
}
#included-excluded .entry-content ul li + li,
#highlights .entry-content ul li + li {
  margin-top: 1.2rem;
}
#included-excluded .entry-content ul li > ul,
#highlights .entry-content ul li > ul {
  margin-top: 1.2rem;
  padding-left: 40px;
}
#included-excluded .entry-content ul li:before,
#highlights .entry-content ul li:before {
  color: inherit;
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 16px;
  position: absolute;
  left: -20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#included-excluded .not-included .entry-content ul li:before,
#highlights .not-included .entry-content ul li:before {
  content: "";
}

#when-to-go .lsx-to-month {
  border-style: solid;
  border-width: 1px;
  border-top: 0 none;
  border-right: 0 none;
  height: 90px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
}
#when-to-go .lsx-to-month:nth-child(6), #when-to-go .lsx-to-month:last-child {
  border-right-style: solid;
  border-right-width: 1px;
}
@media (min-width: 768px) {
  #when-to-go .lsx-to-month:nth-child(6) {
    border-right: 0 none;
  }
}
#when-to-go .lsx-to-month > small {
  display: block;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
#when-to-go .lsx-to-month > .fa {
  font-size: 18px;
  left: 50%;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#keynotes {
  padding-top: 0;
}

@media (max-width: 767px) {
  .included + .not-included {
    margin-top: 8.5rem;
  }
}

.lsx-to-single-meta-data {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.lsx-to-single-meta-data .lsx-to-meta-data {
  width: calc(100% - 2.4rem);
}

.facilities-wrapper {
  margin-top: -2.4rem;
}
@media (min-width: 768px) {
  .facilities-wrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.facilities-content {
  margin-top: 4.25rem;
}
.facilities-content .facilities-list:not(.dropdown-menu) {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.facilities-title {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 1.2rem;
}

.facility-item {
  display: inline-block;
  font-size: 13px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}
@media (min-width: 992px) {
  .facility-item {
    width: 33.33333%;
  }
}

.travel-info-wrapper {
  margin-top: -2.4rem;
}
@media (min-width: 768px) {
  .travel-info-wrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

.travel-info-content {
  margin-top: 4.25rem;
  overflow: hidden;
  padding: 2.4rem 2.4rem 0;
}

.rooms-wrapper {
  margin-top: -2.4rem;
}
@media (min-width: 768px) {
  .rooms-wrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

.rooms-content {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 4.25rem;
  overflow: hidden;
}

.rooms-thumbnail-wrap {
  flex-shrink: 0;
  width: 33.33333%;
}

.rooms-thumbnail {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0 0 100%;
  position: relative;
}

.rooms-info {
  flex-grow: 1;
  padding: 2.4rem 2.4rem 0;
}

.lsx-to-team-thumb {
  border-radius: 50%;
  display: block;
  height: 32rem;
  margin: 0 auto 20px;
  overflow: hidden;
  width: 32rem;
}
.lsx-to-team-thumb > img {
  width: 100%;
}

.lsx-to-review-thumb {
  border-radius: 50%;
  display: block;
  height: 17rem;
  margin: 0 auto 20px;
  overflow: hidden;
  width: 17rem;
}
.lsx-to-review-thumb > img {
  width: 100%;
}

.lsx-to-team-socials-header {
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
}
.lsx-to-team-socials-header:after {
  border-bottom: 1px solid;
  bottom: 0;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 80px;
}

.lsx-to-team-socials {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 2rem 0 0;
  padding: 0;
}
.lsx-to-team-socials > a {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 0 10px;
  transition: background 300ms ease;
  width: 30px;
}

.lsx.single-lsx-to-team:not(.page-has-banner) .banner-single {
  margin-top: 49px;
}
.lsx.single-lsx-to-team:not(.page-has-banner) .banner-single .archive-header {
  display: none;
}
.lsx.single-lsx-to-team .lsx-to-team-name {
  margin-bottom: 1.2rem;
}
.lsx.single-lsx-to-team .lsx-to-team-contact:not(.dropdown) {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 4.25rem;
  padding-left: 0;
}
.lsx.single-lsx-to-team .lsx-to-team-contact:not(.dropdown) > li {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.lsx.single-lsx-to-team .lsx-to-team-contact:not(.dropdown) > li + li {
  margin-top: 1.2rem;
}
@media (min-width: 992px) {
  .lsx.single-lsx-to-team .lsx-to-team-contact:not(.dropdown) > li {
    display: inline-block;
  }
  .lsx.single-lsx-to-team .lsx-to-team-contact:not(.dropdown) > li + li {
    margin-left: 2.4rem;
    margin-top: 0;
  }
}
.lsx.single-lsx-to-team .lsx-to-team-contact:not(.dropdown) .fa {
  font-size: 22px;
  margin-right: 5px;
  vertical-align: middle;
}

body.single-tour-operator #gallery .gallery {
  margin: 0 auto;
}
body.single-tour-operator #gallery .gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  body.single-tour-operator #gallery .gallery .gallery-item {
    width: 33%;
  }
}
@media (min-width: 768px) {
  body.single-tour-operator #gallery .gallery.gallery-columns-2 .gallery-item {
    width: 50%;
  }
  body.single-tour-operator #gallery .gallery.gallery-columns-2 .attachment-medium {
    max-width: 92%;
    height: auto;
  }
}
@media (min-width: 768px) {
  body.single-tour-operator #gallery .gallery.gallery-columns-4 .gallery-item {
    width: 25%;
  }
  body.single-tour-operator #gallery .gallery.gallery-columns-4 .attachment-thumbnail {
    max-width: 84%;
    height: auto;
  }
}
body.single-tour-operator #gallery .gallery .gallery-icon {
  border: none;
}
body.single-tour-operator #gallery .gallery img {
  padding: 8px;
}
body.single-tour-operator #gallery .gallery img:hover {
  background: #FFF;
}
body.single-tour-operator #gallery .gallery .gallery-caption {
  font-size: 12px;
  margin: 0 0 12px;
}
body.single-tour-operator #gallery .gallery dl, body.single-tour-operator #gallery .gallery dt {
  margin: 0;
}
body.single-tour-operator #gallery .gallery br + br {
  display: none;
}
@media (max-width: 767px) {
  body.single-tour-operator #gallery .gallery img {
    margin: 0 auto;
  }
}

.single-lsx-to-review #tours #collapse-tours .lsx-to-widget-item-wrap {
  max-width: 33%;
  margin: auto;
  margin-top: 45px;
}

.single-lsx-to-review #tours #collapse-tours .slider-container .lsx-to-widget-item-wrap {
  max-width: initial;
  margin: initial;
  margin-top: 45px;
}

.single-lsx-to-destination .wp-block-media-text .wp-block-media-text__content {
  padding: 0 15px;
}

.single-lsx-to-team #team-map {
  padding: 8.5rem 0;
}

.lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0 -9999rem;
  padding: 0 9996.6rem;
}
.lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) > li {
  position: relative;
}
.lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) > li + li {
  margin-left: 1px;
}
.lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) > li + li:before {
  content: "";
  display: inline-block;
  height: 30px;
  left: -1px;
  position: absolute;
  top: 10px;
  width: 1px;
  z-index: 2;
}
.lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) > li > a, .lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) > li > a:focus {
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  padding: 0 2.4rem;
  text-transform: uppercase;
  transition: background 300ms ease;
}

body.single-tour-operator .modal-body article .entry-content .moretag {
  width: 230px;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.lsx-to-modal-content-area.content-area {
  margin: 0;
}
.lsx-to-modal-content-area .lsx-to-modal-thumb {
  margin-bottom: 2.4rem;
}
.lsx-to-modal-content-area .lsx-to-modal-meta-data {
  margin-bottom: 2.4rem;
}
.lsx-to-modal-content-area .entry-content p:last-of-type {
  margin-bottom: 4px;
}

.lsx-to-map-marker {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 5px 0;
  width: 100%;
}
.lsx-to-map-marker .lsx-to-map-marker-content {
  flex-grow: 1;
}
.lsx-to-map-marker .lsx-to-map-marker-content.content-area {
  margin: 0;
}
.lsx-to-map-marker .lsx-to-map-marker-content .entry-content p {
  margin-bottom: 0;
  margin-top: 1.2rem;
}
.lsx-to-map-marker .lsx-to-map-marker-content .entry-content p > a.moretag:after {
  color: inherit;
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  margin-left: 5px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lsx-to-map-marker .lsx-to-map-marker-img {
  margin-right: 15px;
  max-width: 100px;
  flex-shrink: 0;
}
.lsx-to-map-marker .lsx-to-map-marker-title {
  margin-bottom: 1.2rem;
}

.gm-style .gm-style-iw + div {
  border: 5px solid white !important;
  border-radius: 50% !important;
  height: 23px !important;
  opacity: 1 !important;
  right: 5px !important;
  top: 5px !important;
  width: 23px !important;
}
@media (min-width: 992px) {
  .gm-style .gm-style-iw + div {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
    right: -10px !important;
    top: -10px !important;
  }
}

.lsx-map.map-has-placeholder .placeholder-text {
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .lsx-map.map-has-placeholder .placeholder-text .lsx-to-section-title.lsx-to-collapse-title {
    background-color: transparent;
    border-bottom-color: transparent;
    color: #4A4A4A;
    font-size: 20px;
  }
  .lsx-map.map-has-placeholder .placeholder-text .lsx-to-section-title.lsx-to-collapse-title:after {
    display: none;
  }
}

@media (max-width: 677px) {
  .single-lsx-to-accommodation > .wrap.container,
.single-lsx-to-destination > .wrap.container,
.single-lsx-to-tour > .wrap.container,
.single-lsx-to-review > .wrap.container,
.single-lsx-to-team > .wrap.container {
    padding-left: 0;
    padding-right: 0;
  }
  .single-lsx-to-accommodation > .wrap.container #primary .lsx-to-section,
.single-lsx-to-destination > .wrap.container #primary .lsx-to-section,
.single-lsx-to-tour > .wrap.container #primary .lsx-to-section,
.single-lsx-to-review > .wrap.container #primary .lsx-to-section,
.single-lsx-to-team > .wrap.container #primary .lsx-to-section {
    margin: 0;
    padding: 0 15px;
  }
  .single-lsx-to-accommodation > .wrap.container #primary #collapse-summary .collapse-inner > .row,
.single-lsx-to-destination > .wrap.container #primary #collapse-summary .collapse-inner > .row,
.single-lsx-to-tour > .wrap.container #primary #collapse-summary .collapse-inner > .row,
.single-lsx-to-review > .wrap.container #primary #collapse-summary .collapse-inner > .row,
.single-lsx-to-team > .wrap.container #primary #collapse-summary .collapse-inner > .row {
    margin: 0;
    padding: 2.4rem 0;
  }
  .single-lsx-to-accommodation > .wrap.container #primary section > .lsx-to-section-title,
.single-lsx-to-destination > .wrap.container #primary section > .lsx-to-section-title,
.single-lsx-to-tour > .wrap.container #primary section > .lsx-to-section-title,
.single-lsx-to-review > .wrap.container #primary section > .lsx-to-section-title,
.single-lsx-to-team > .wrap.container #primary section > .lsx-to-section-title {
    margin: 0 -15px;
    padding: 4.25rem 0;
  }

  .post-type-archive-lsx-to-destination .header-wrap .breadcrumbs-container,
.post-type-archive-lsx-to-tour .header-wrap .breadcrumbs-container,
.post-type-archive-lsx-to-accommodation .header-wrap .breadcrumbs-container,
.post-type-archive-lsx-to-special .header-wrap .breadcrumbs-container,
.post-type-archive-lsx-to-review .header-wrap .breadcrumbs-container,
.post-type-archive-lsx-to-team .header-wrap .breadcrumbs-container,
.tax-lsx-to-accommodation-brand .header-wrap .breadcrumbs-container,
.terms-conditions .header-wrap .breadcrumbs-container {
    padding: 15px 0px;
    margin: 0px;
  }
  .post-type-archive-lsx-to-destination .wrap.container .content.role.row,
.post-type-archive-lsx-to-tour .wrap.container .content.role.row,
.post-type-archive-lsx-to-accommodation .wrap.container .content.role.row,
.post-type-archive-lsx-to-special .wrap.container .content.role.row,
.post-type-archive-lsx-to-review .wrap.container .content.role.row,
.post-type-archive-lsx-to-team .wrap.container .content.role.row,
.tax-lsx-to-accommodation-brand .wrap.container .content.role.row,
.terms-conditions .wrap.container .content.role.row {
    margin-left: 0;
    margin-right: 0;
  }
  .post-type-archive-lsx-to-destination .wrap.container .content.role.row #primary,
.post-type-archive-lsx-to-tour .wrap.container .content.role.row #primary,
.post-type-archive-lsx-to-accommodation .wrap.container .content.role.row #primary,
.post-type-archive-lsx-to-special .wrap.container .content.role.row #primary,
.post-type-archive-lsx-to-review .wrap.container .content.role.row #primary,
.post-type-archive-lsx-to-team .wrap.container .content.role.row #primary,
.tax-lsx-to-accommodation-brand .wrap.container .content.role.row #primary,
.terms-conditions .wrap.container .content.role.row #primary {
    padding: 0;
  }
}
.lsx-to-slider-inner .slick-dots > li > button,
.gallery .slick-dots > li > button {
  border-color: #4A4A4A;
}
.lsx-to-slider-inner .slick-dots > li.slick-active > button,
.gallery .slick-dots > li.slick-active > button {
  background-color: #4A4A4A;
}
.lsx-to-slider-inner .slick-arrow,
.gallery .slick-arrow {
  border-color: #4A4A4A;
  color: #4A4A4A;
}
.lsx-to-slider-inner .slick-arrow:hover,
.gallery .slick-arrow:hover {
  border-color: #F7AE00;
  color: #F7AE00;
}
.lsx-to-slider-inner .slick-arrow.slick-disabled,
.gallery .slick-arrow.slick-disabled {
  border-color: #DADDDF;
  color: #DADDDF;
}

.slick-lightbox-inner .slick-arrow {
  border-color: white;
  color: white;
}
.slick-lightbox-inner .slick-arrow:hover {
  border-color: white;
  color: white;
}
.slick-lightbox-inner .slick-arrow.slick-disabled {
  border-color: #ccc;
  color: #ccc;
}

.lsx-to-widget-view-all > span:before, .lsx-to-widget-view-all > span:after {
  background-color: #DADDDF;
}

.lsx-to-widget-item-wrap .lsx-to-widget-content {
  background-color: #FFF;
}
.lsx-to-section:nth-of-type(odd) .lsx-to-widget-item-wrap .lsx-to-widget-content {
  background-color: #FFF;
}
.lsx-to-section:nth-of-type(even) .lsx-to-widget-item-wrap .lsx-to-widget-content {
  background-color: #F6F6F6;
}
.lsx-to-widget-item-wrap .lsx-to-widget-content a.moretag,
.lsx-to-widget-item-wrap .lsx-to-widget-content a.moretag:visited {
  background-color: #1098AD;
  color: #FFF !important;
}
.lsx-to-widget-item-wrap .lsx-to-widget-content a.moretag:hover,
.lsx-to-widget-item-wrap .lsx-to-widget-content a.moretag:visited:hover {
  background-color: #F7AE00;
  color: #FFF !important;
}
.lsx-to-widget-item-wrap .lsx-to-widget-title > a:not(.btn), .lsx-to-widget-item-wrap .lsx-to-widget-title > a:not(.btn):active, .lsx-to-widget-item-wrap .lsx-to-widget-title > a:not(.btn):visited {
  color: #4A4A4A;
}
.lsx-to-widget-item-wrap .lsx-to-widget-title > a:not(.btn):hover, .lsx-to-widget-item-wrap .lsx-to-widget-title > a:not(.btn):hover:active, .lsx-to-widget-item-wrap .lsx-to-widget-title > a:not(.btn):focus {
  color: #F7AE00;
}

.lsx-to-meta-data {
  color: #919191;
}
.lsx-to-meta-data .lsx-to-meta-data-key {
  color: #4A4A4A;
}

.lsx-to-archive-item > .lsx-to-archive-container {
  background-color: #FFF;
}
.lsx-to-section:nth-of-type(odd) .lsx-to-archive-item > .lsx-to-archive-container {
  background-color: #FFF;
}
.lsx-to-section:nth-of-type(even) .lsx-to-archive-item > .lsx-to-archive-container {
  background-color: #F6F6F6;
}
.lsx-to-archive-item > .lsx-to-archive-container > a.moretag {
  background-color: #1098AD;
  color: #FFF !important;
}
.lsx-to-archive-item > .lsx-to-archive-container > a.moretag:hover {
  background-color: #F7AE00;
  color: #FFF !important;
}
.lsx-to-archive-item > .lsx-to-archive-container .lsx-to-archive-content-title > a, .lsx-to-archive-item > .lsx-to-archive-container .lsx-to-archive-content-title > a:active, .lsx-to-archive-item > .lsx-to-archive-container .lsx-to-archive-content-title > a:visited {
  color: #4A4A4A;
}
.lsx-to-archive-item > .lsx-to-archive-container .lsx-to-archive-content-title > a:hover, .lsx-to-archive-item > .lsx-to-archive-container .lsx-to-archive-content-title > a:hover:active, .lsx-to-archive-item > .lsx-to-archive-container .lsx-to-archive-content-title > a:focus {
  color: #F7AE00;
}

.lsx-regions .lsx-to-archive-wrapper {
  background-color: #FFF;
}

.lsx-to-contact-widget {
  background-color: #1098AD;
}
.lsx-to-contact-widget .lsx-to-contact-prefix {
  color: #FFF;
}
.lsx-to-contact-widget .lsx-to-contact-name {
  color: #FFF;
}
.lsx-to-contact-widget .lsx-to-contact-name > a:not(.btn), .lsx-to-contact-widget .lsx-to-contact-name > a:not(.btn):active, .lsx-to-contact-widget .lsx-to-contact-name > a:not(.btn):visited {
  color: #FFF;
}
.lsx-to-contact-widget .lsx-to-contact-name > a:not(.btn):hover, .lsx-to-contact-widget .lsx-to-contact-name > a:not(.btn):hover:active, .lsx-to-contact-widget .lsx-to-contact-name > a:not(.btn):focus {
  color: #F7AE00;
}
.lsx-to-contact-widget .lsx-to-contact-socials > a:not(.btn), .lsx-to-contact-widget .lsx-to-contact-socials > a:not(.btn):active, .lsx-to-contact-widget .lsx-to-contact-socials > a:not(.btn):visited {
  color: #FFF;
}
.lsx-to-contact-widget .lsx-to-contact-socials > a:not(.btn):hover, .lsx-to-contact-widget .lsx-to-contact-socials > a:not(.btn):hover:active, .lsx-to-contact-widget .lsx-to-contact-socials > a:not(.btn):focus {
  color: #F7AE00;
}

.lsx-to-label {
  background-color: #4A4A4A;
  color: #FFF;
}

.facilities-title {
  border-bottom-color: #DADDDF;
}

.lsx-to-team-socials > a:not(.btn) {
  background-color: #4A4A4A;
}
.lsx-to-team-socials > a:not(.btn):hover {
  background-color: #F7AE00;
}
article.team .lsx-to-team-socials > a:not(.btn), article.team .lsx-to-team-socials > a:not(.btn):active, article.team .lsx-to-team-socials > a:not(.btn):visited {
  color: #FFF;
}
article.team .lsx-to-team-socials > a:not(.btn):hover, article.team .lsx-to-team-socials > a:not(.btn):hover:active, article.team .lsx-to-team-socials > a:not(.btn):focus {
  color: #FFF;
}

.site-main > .lsx-to-section:nth-of-type(even) {
  background-color: #FFF;
}
.site-main > .lsx-to-section:first-of-type {
  background-color: #F6F6F6;
}

.lsx-to-section-inner {
  background-color: #FFF;
}

.lsx-to-section:nth-of-type(odd) .travel-info-content,
.lsx-to-section:nth-of-type(odd) .rooms-content {
  background-color: #FFF;
}
.lsx-to-section:nth-of-type(even) .travel-info-content,
.lsx-to-section:nth-of-type(even) .rooms-content {
  background-color: #F6F6F6;
}

.lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) {
  background-color: #374750;
}
.lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) > li + li:before {
  background-color: #2B3840;
}
.lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) > li > a, .lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) > li > a:focus {
  background-color: transparent;
  color: #FFF;
}
.lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) > li > a:hover {
  background-color: #2B3840;
  color: #1098AD;
}
.lsx-to-navigation .lsx-to-content-spy:not(.dropdown-menu) > li.active > a {
  background-color: #2B3840;
  color: #1098AD;
}

@media (max-width: 1199px) {
  .lsx-to-section-title.lsx-to-collapse-title, .lsx-to-section-title.lsx-to-collapse-title.lsx-title {
    background-color: #2B3840;
    border-bottom-color: #2B3840;
    color: #1098AD;
  }
  .lsx-to-section-title.lsx-to-collapse-title.collapsed, .lsx-to-section-title.lsx-to-collapse-title.lsx-title.collapsed {
    background-color: #374750;
    border-bottom-color: #2B3840;
    color: #FFF;
  }
}

#when-to-go .lsx-to-month {
  border-color: #374750;
}
#when-to-go .lsx-to-month:nth-child(6), #when-to-go .lsx-to-month:last-child {
  border-right-color: #374750;
}
#when-to-go .lsx-to-month > small {
  background-color: #374750;
  color: #FFF;
}
#when-to-go .lsx-to-month.lsx-to-month-check > .fa {
  color: #2B3840;
}