/*
 * LSX Tour Operators
 */

@import 'include-media';
@import 'customizer-to-body-colours';
@import '../vendor/flag-icon-css/flag-icon';


// ---------- Generic Placeholders ----------


%currency-icons {
	.currency-icon {
		&:after {
			margin: {
				left: 3px;
				right: 3px;
			}
		}

		&.usd,
		&.nad,
		&.cad,
		&.hkd,
		&.sgd,
		&.nzd,
		&.aud {
			&:after {
				content: '\0024';
			}
		}

		&.eur {
			&:after {
				content: '\20AC';
			}
		}

		&.gbp {
			&:after {
				content: '\00A3';
			}
		}

		&.zar {
			&:after {
				content: '\0052';
			}
		}
		&.brl {
			&:after {
				content: '\0052\0024';
			}
		}
		&.bwp {
			&:after {
				content: '\0050';
			}
		}
		&.cny,
		&.jpy {
			&:after {
				content: '\00A5';
			}
		}
		&.inr {
			&:after {
				content: '\20B9';
			}
		}
		&.idr {
			&:after {
				content: '\20B9';
			}
		}
		&.ils {
			&:after {
				content: '\20AA';
			}
		}
		&.kes {
			&:after {
				content: '\004b';
			}
		}
		&.lak {
			&:after {
				content: '\20ad';
			}
		}
		&.mwk {
			&:after {
				content: '\004d\004b';
			}
		}
		&.myr {
			&:after {
				content: '\0052\004d';
			}
		}
		&.mzn {
			&:after {
				content: '\004d\0054';
			}
		}
		&.nok,
		&.sek {
			&:after {
				content: '\006b\0072';
			}
		}
		&.rub {
			&:after {
				content: '\0440\0443\0431';
			}
		}
		&.chf {
			&:after {
				content: '\0043\0048\0046';
			}
		}
		&.tzs {
			&:after {
				content: '\0054\0053\0068';
			}
		}
		&.aed {
			&:after {
				content: '\062f\002e\0625';
			}
		}
		&.zmw {
			&:after {
				content: '\005a\006b';
			}
		}
		&.zwl {
			&:after {
				content: '\005a\0024';
			}
		}
	}
}


// ---------- Single (Page) Styles ----------
// ---------- @TODO - REVIEW ----------


body.single-tour-operator {
	.modal-body {
		article {
			.entry-content {
				.moretag {
					width: 230px;
					display: block;
					margin-left: auto !important;
					margin-right: auto !important;
					padding-left: 30px !important;
					padding-right: 30px !important;
				}
			}
		}
	}
}


// ---------- Default Gallery ----------
// ---------- @TODO - REVIEW ----------


body.single-tour-operator {
	#gallery {
		.gallery {
			margin: 0 auto;

			.gallery-item {
				float: left;
				margin-top: 0;
				text-align: center;
				width: 100%;

				@media only screen and (min-width: 768px) {
					width: 33%;
				}
			}

			&.gallery-columns-2 {
				@media only screen and (min-width: 768px) {
					.gallery-item {
						width: 50%;
					}

					.attachment-medium {
						max-width: 92%;
						height: auto;
					}
				}
			}

			&.gallery-columns-4 {
				@media only screen and (min-width: 768px) {
					.gallery-item {
						width: 25%;
					}

					.attachment-thumbnail {
						max-width: 84%;
						height: auto;
					}
				}
			}

			.gallery-icon {
				border: none;
			}

			img {
				padding: 8px;

				&:hover {
					background: white;
				}
			}

			.gallery-caption {
				//color: #888;
				font-size: 12px;
				margin: 0 0 12px;
			}

			dl, dt { margin: 0; }
			br + br { display: none; }
		}
	}
}


// ---------- TO 1.1 ----------


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}

.col-xs-15 {
	float: left;
	width: 20%;
}

@include media('>=phone') {
	.col-sm-15 {
		float: left;
		width: 20%;
	}
}

@include media('>=tablet') {
	.col-md-15 {
		float: left;
		width: 20%;
	}
}

@include media('>=desktop') {
	.col-lg-15 {
		float: left;
		width: 20%;
	}
}

.lsx-to-widget-items { margin-top: -4.25rem; }

.lsx-to-widget-item-wrap {
	margin-top: 4.25rem;

	.lsx-to-slider-inner & { padding: 0 15px; }
}

.lsx-to-slider-inner,
.slick-lightbox-inner {
	.slick-arrow {
		background: transparent;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		font: 0/0 a;
		height: 4rem;
		margin-top: calc((2.25rem - 17px) / 2);
		padding: 0;
		position: absolute;
		text-shadow: none;
		top: 50%;
		transform: translateY(-50%);
		transition: border 300ms ease;
		width: 4rem;
		z-index: 3;

		&:before {
			display: block;
			font-family: 'FontAwesome';
			font-size: 3rem;
			line-height: 1;
			position: absolute;
			text-rendering: auto;
			top: 50%;
			transform: translateY(-50%);
			transition: color 300ms ease;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		&.slick-disabled { cursor: not-allowed; }

		&.slick-prev {
			&:before {
				content: '\f104';
				left: 1.1rem;
			}
		}

		&.slick-next {
			&:before {
				content: '\f105';
				left: 1.5rem;
			}
		}
	}
}

.lsx-to-slider-inner {
	@include media('>=tablet') {
		margin: 0 auto;
		width: 100%;

		&.slick-has-arrows { width: calc(100% - 8rem); }
	}

	@include media('>=1280px') {
		margin: 0 -15px;
		width: calc(100% + 30px);

		&.slick-has-arrows { width: calc(100% + 30px); }
	}

	.slick-dots:not(.dropdown-menu) {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		height: auto;
		justify-content: center;
		list-style: none;
		margin: 2rem 0 0;
		padding: 0;

		& > li {
			line-height: 1;
			padding: 5px;

			@include media('>=tablet') { padding: 0 7.5px; }

			& > button {
				background: transparent;
				background-clip: padding-box;
				border-style: solid;
				border-width: 1px;
				font: 0/0 a;
				height: 6px;
				transition: all 300ms ease-in-out;
				width: 40px;
			}
		}
	}

	.slick-arrow {
		&.slick-prev { left: -4rem; }
		&.slick-next { right: -4rem; }
	}
}

.slick-lightbox-inner {
	.slick-arrow {
		opacity: .75;

		&:hover { opacity: 1; }
	}
}

.lsx-to-widget-view-all {
	margin-top: 6rem;
	overflow: hidden;
	position: relative;
	text-align: center;

	& > span {
		display: inline-block;
		position: relative;

		&:before,
		&:after {
			content: '';
			display: block;
			height: 2px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 999rem;
		}

		&:before { right: 120%; }
		&:after { left: 120%; }
	}
}

.lsx-to-widget-item-wrap {
	&.lsx-video {
		.lsx-to-widget-content { padding-bottom: 2.4rem; }
	}

	.lsx-to-widget-content {
		background-color: #FFF;
		padding: 2.4rem 2rem 0;

		.lsx-to-section:nth-of-type(odd) & { background-color: #F6F6F6; }
		.lsx-to-section:nth-of-type(even) & { background-color: #FFF; }

		.lsx-to-widget-title {
			&:only-child { margin-bottom: 0; }
		}

		.moretag {
			display: block;
			margin: 0 -2rem;
			padding: 1rem 0;
			text-align: center;
			transition: background 300ms ease;

			&:after {
				color: inherit;
				content: '\f178';
				display: inline-block;
				font-family: 'FontAwesome';
				font-size: inherit;
				margin-left: 5px;
				text-rendering: auto;

				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		p:last-child { margin-bottom: 0; }
	}

	.lsx-to-widget-tagline { margin-top: -1.2rem; }

	&.lsx-team {
		.lsx-to-widget-thumb {
			border-radius: 50%;
			height: 170px;
			margin: 0 auto 12px;
			overflow: hidden;
			position: relative;
			width: 170px;
		}
	}

	&.lsx-review {
		.lsx-to-widget-thumb {
			border-radius: 50%;
			height: 100px;
			margin: 0 auto 12px;
			overflow: hidden;
			position: relative;
			width: 100px;
		}

		.lsx-to-widget-blockquote {
			@include media('>=tablet') { max-width: none; }
		}
	}

	.lsx-to-widget-thumb img {
		width: 100%;

		&.lazyload, &.lazyloading { width: auto; }
	}
}

.lsx-to-widget-meta-data {
	margin: 2.4rem 0;
	position: relative;

	.lsx-to-widget-item-wrap.lsx-review & { margin-bottom: 0; }
}

.lsx-to-meta-data {
	display: block;
	font-size: 13px;
	padding-left: 22px;
	position: relative;

	.lsx-to-contact-meta-data & { padding-left: 0; }

	& + .lsx-to-meta-data { margin-top: 5px; }

	#fast-facts & {
		font-size: 15px;
		margin: 0 1.2rem;
		padding-top: 1.2rem;
	}

	.lsx-to-summary-meta-data & {
		font-size: 15px;

		@include media ('>=tablet') {
			display: inline-block;
			margin-top: 0;

			& + .lsx-to-meta-data { margin-left: 2.4rem; }
		}
	}

	&:before {
		color: inherit;
		display: inline-block;
		font-family: 'FontAwesome';
		font-size: inherit;
		left: 0;
		position: absolute;
		text-rendering: auto;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.lsx-to-meta-data-price {
		@extend %currency-icons;

		.currency-icon {
			&:after {
				margin-right: 0px;
			}
		}
	}

	&.lsx-to-meta-data-accommodations:before { content: '\f015'; }
	&.lsx-to-meta-data-activities:before { content: '\f1e5'; }
	&.lsx-to-meta-data-brand:before { content: '\f1ad'; }
	&.lsx-to-meta-data-destinations:before { content: '\f0ac'; }
	&.lsx-to-meta-data-duration:before { content: '\f133'; }
	&.lsx-to-meta-data-email:before { content: '\f0e0'; }
	&.lsx-to-meta-data-friendly:before { content: '\f046'; }
	&.lsx-to-meta-data-languages:before { content: '\f1ab'; }
	&.lsx-to-meta-data-phone:before { content: '\f095'; }
	&.lsx-to-meta-data-pin:before { content: '\f041'; }
	&.lsx-to-meta-data-price:before { content: '\f0d6'; }
	&.lsx-to-meta-data-rating:before { content: '\f006'; }
	&.lsx-to-meta-data-role:before { content: '\f0c0'; }
	&.lsx-to-meta-data-rooms:before { content: '\f236'; }
	&.lsx-to-meta-data-skype:before { content: '\f17e'; }
	&.lsx-to-meta-data-special:before { content: '\f069'; }
	&.lsx-to-meta-data-style:before { content: '\f02b'; }
	&.lsx-to-meta-data-team:before { content: '\f007'; }
	&.lsx-to-meta-data-tours:before { content: '\f072'; }
	&.lsx-to-meta-data-travel-dates:before { content: '\f073'; }
	&.lsx-to-meta-data-type:before { content: '\f292'; }
	&.lsx-to-meta-data-valid-from:before { content: '\f073'; }
}

.archive.archive-tour-operator,
.search.search-results.archive-tour-operator {
	.site-main { width: 100%; }
}

.lsx-to-archive-description {
	& > p {
		&:last-child,
		&:only-child {
			margin-bottom: 0;
		}
	}
}

.lsx-to-archive-items {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: -4.25rem;
	width: calc(100% + 30px);

	&:after,
	&:before {
		display: none;
	}
}

.lsx-to-archive-items-separator.lsx-title {
	margin-top: 4.25rem;

	&:first-child {
		margin-top: 0;
	}
}

.lsx-to-archive-item {
	margin-top: 4.25rem;

	& > .lsx-to-archive-container {
		align-items: stretch;
		background-color: #FFF;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		.lsx-to-archive-template-list & {
			@include media('>=phone') { flex-wrap: nowrap; }
		}

		.lsx-to-section:nth-of-type(odd) & { background-color: #F6F6F6; }
		.lsx-to-section:nth-of-type(even) & { background-color: #FFF; }

		&.post,
		&.page {
			.entry-content {
				padding: 0;
			}
		}

		&.destination {
			.lsx-to-archive-template-grid & {
				.entry-content {
					& > p { margin-bottom: 0; }
				}
			}
		}

		&.team {
			.lsx-to-meta-data-socials {
				padding-left: 0;

				& > a {
					font-size: 17px;

					& + a { margin-left: 5px; }
				}
			}

			.lsx-to-archive-template-grid & {
				background-color: transparent;

				.lsx-to-archive-content-title { margin-top: 2.4rem; }

				.lsx-to-archive-wrapper { padding: 0; }

				.lsx-to-archive-thumb {
					border-radius: 50%;
					height: 170px;
					margin: 0 auto;
					overflow: hidden;
					position: relative;
					width: 170px;
				}

				.entry-content { text-align: center; }

				.lsx-to-archive-meta-data {
					text-align: center;

					.lsx-to-meta-data {
						padding-left: 0;

						&:before {
							left: auto;
							margin-right: 5px;
							position: relative;
						}
					}
				}
			}

			.lsx-to-archive-template-list & {
				.lsx-to-archive-thumb {
					& > a {
						display: block;
						height: 0;
						overflow: hidden;
						padding: 0 0 100%;
						position: relative;

						& > img {
							bottom: 0;
							left: 0;
							position: absolute;
							height: 100%;
							right: 0;
							top: 0;
							width: 100%;
						}
					}
				}
			}
		}

		& > .moretag {
			display: block;
			padding: 1rem 0;
			text-align: center;
			transition: background 300ms ease;
			width: 100%;

			&:after {
				color: inherit;
				content: '\f178';
				display: inline-block;
				font-family: 'FontAwesome';
				font-size: inherit;
				margin-left: 5px;
				text-rendering: auto;

				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}

	.lsx-to-single-link {
		margin-bottom: 0;
		margin-top: 2.4rem;
	}
}

.lsx-to-archive-thumb {
	width: 100%;

	@include media('<phone') {
		& > a,
		.lsx-to-thumb-slot {
			background-image: none !important;

			& > img { width: 100%; }
		}
	}

	.lsx-to-archive-template-list & {
		@include media('>=phone') {
			flex-shrink: 0;
			position: relative;
			width: 25%;

			& > a,
			.lsx-to-thumb-slot {
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;

				& > img { display: none; }
			}
		}
	}

	.lsx-to-archive-template-grid & {
		& > a,
		.lsx-to-thumb-slot {
			background-image: none !important;
			display: block;

			& > img { width: 100%; }
		}
	}
}

.lsx-to-archive-wrapper {
	padding: 20px;

	.lsx-to-archive-template-list & {
		@include media('>=phone') {
			align-items: flex-start;
			display: flex;
			flex-flow: row nowrap;
			flex-grow: 1;
			justify-content: flex-end;
			min-height: 130px;
			padding: 2.4rem 15px;
		}

		@include media('>=tablet') { min-height: 170px; }
		@include media('>=desktop') { min-height: 200px; }
	}

	.lsx-to-archive-template-grid & { width: 100%; }

	.lsx-regions & { background-color: #FFF; }
}

.lsx-to-archive-content {
	.lsx-to-archive-template-list & {
		@include media('>=phone') {
			flex-grow: 1;
			padding-right: 15px;
		}
	}

	.entry-content {
		p:last-child { margin-bottom: 0; }

		.moretag {
			.lsx-to-archive-template-grid & { display: none; }

			&:after {
				color: inherit;
				content: '\f178';
				display: inline-block;
				font-family: 'FontAwesome';
				font-size: inherit;
				margin-left: 5px;
				text-rendering: auto;

				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
}

.lsx-to-archive-meta-data {
	margin-top: 2.4rem;

	.lsx-to-archive-template-list & {
		@include media('>=phone') {
			flex-shrink: 0;
			margin-top: 0;
			padding-left: 15px;
			width: 40%;
		}

		@include media('>=tablet') { width: 33%; }
	}
}

.lsx-to-archive-content-title {
	.lsx-to-archive-template-grid & {
		text-align: center;

		&:only-child { margin-bottom: 0; }
	}

	.lsx-to-label {
		font-size: 60%;
		line-height: 27px; // This must be the same line-height of its parent
		padding: 4px 1rem;
		vertical-align: top;

		.lsx-to-archive-template-grid & { display: none; }
	}
}

.lsx-to-archive-content-tagline {
	&:last-child { margin-bottom: 0; }

	@include media('>=phone') { margin-top: -1.4rem; }

	.lsx-to-archive-template-grid & { text-align: center; }
}

.lsx-to-enquire-form {
	margin-top: 2.4rem;
}

.lsx-to-contact-thumb {
	border-radius: 50%;
	height: 170px;
	margin: 2.4rem auto 0;
	overflow: hidden;
	position: relative;
	width: 170px;

	& + .lsx-to-contact-name { margin-top: 2.4rem; }

	@include media('>=phone') {
		margin-top: 0;

		& + .lsx-to-contact-prefix { margin-top: 2.4rem; }
	}
}

.lsx-to-contact-prefix {
	display: block;
	font-size: 13px;
}

.lsx-to-contact-socials {
	& > a {
		font-size: 17px;
		line-height: 1;
		padding: 0 5px;
	}
}

.lsx-to-section-title {
	& + .lsx-to-archive-items,
	& + .lsx-to-widget-items {
		margin-top: -2.4rem;
	}

	& + .envira-gallery-wrap { margin-top: 4.25rem; }
}

.lsx-to-section-view-all {
	margin-top: 4.25rem;
}

.single-tour-operator {
	.content-area { margin-bottom: 0; }

	#sharing {
		.lsx-sharing-content > p {
			margin-bottom: 2.4rem;
			text-align: center;

			@include media('>=phone') {
				margin-bottom: 0;
				text-align: right;
			}
		}
	}
}

.lsx-title-small {
	font-size: 22px;
	font-weight: 700;
}

#included-excluded,
#highlights {
	.entry-content {
		ul {
			list-style: none;
			margin-bottom: 0;
			padding-left: 20px;

			li {
				position: relative;

				& + li { margin-top: 1.2rem; }

				& > ul {
					margin-top: 1.2rem;
					padding-left: 40px;
				}

				&:before {
					color: inherit;
					content: '\f058';
					display: inline-block;
					font-family: 'FontAwesome';
					font-size: 16px;
					position: absolute;
					left: -20px;
					text-rendering: auto;

					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}
	}

	.not-included {
		.entry-content {
			ul {
				li {
					&:before { content: '\f057'; }
				}
			}
		}
	}
}

.lsx-map { margin-top: 4.25rem; }

.lsx-to-section-inner {
	background-color: #FFF;
	margin-top: 4.25rem;
	padding: 2.4rem;

	#fast-facts & { padding: 1.2rem 1.2rem 2.4rem; }
}

.lsx-to-summary {
	margin-bottom: 4.25rem;

	@include media ('>=tablet') {
		align-items: center;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		.lsx-to-summary-title { margin-bottom: 0; }
	}
}

.lsx-to-more-link {
	&:after {
		color: inherit;
		content: '\f178';
		display: inline-block;
		font-family: 'FontAwesome';
		font-size: inherit;
		margin-left: 5px;
		text-rendering: auto;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.lsx-to-navigation {
	.lsx-to-content-spy:not(.dropdown-menu) {
		align-items: flex-start;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		margin: 0 -9999rem;
		padding: 0 9999rem;
		background-color: #374750;

		& > li {
			position: relative;

			& + li {
				margin-left: 1px;

				&:before {
					background-color: #2B383F;
					content: '';
					display: inline-block;
					height: 30px;
					left: -1px;
					position: absolute;
					top: 10px;
					width: 1px;
					z-index: 2;
				}
			}

			& > a {
				&,
				&:focus {
					background-color: transparent;
					color: #FFF;
					font-size: 14px;
					font-weight: 700;
					line-height: 50px;
					padding: 0 2.4rem;
					text-transform: uppercase;
					transition: background 300ms ease;
				}

				&:hover { background-color: #1098AD; }
			}

			&.active {
				& > a { background-color: #1098AD; }
			}
		}
	}
}

#when-to-go {
	.when-to-go-wrapper { margin-top: 4.25rem; }

	.lsx-to-month {
		border: 1px solid #374750;
		border-top: 0 none;
		border-right: 0 none;
		height: 90px;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-align: center;

		&:nth-child(6),
		&:last-child {
			border-right: 1px solid #374750;
		}

		@include media('>=phone') {
			&:nth-child(6) { border-right: 0 none; }
		}

		& > small {
			background-color: #374750;
			color: #FFF;
			display: block;
			font-weight: 700;
			line-height: 40px;
			text-transform: uppercase;
		}

		& > .fa {
			color: #1098AD;
			font-size: 18px;
			left: 50%;
			margin-top: 20px;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.lsx-to-modal-content-area {
	&.content-area { margin: 0; }

	.lsx-to-modal-thumb { margin-bottom: 2.4rem; }

	.lsx-to-modal-meta-data { margin-bottom: 2.4rem; }

	.entry-content {
		p:last-of-type { margin-bottom: 4px; }
	}
}


@import 'single';

@include customizer-to-body-colours(#DADDDF, #4A4A4A, #1098AD, #F7AE00, #919191);
