# EditorConfig for Tour Operator Plugin
# https://editorconfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# PHP files
[*.php]
indent_style = tab
indent_size = 4

# JavaScript files
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2

# CSS/SCSS files
[*.{css,scss,sass,less}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Package files
[{package.json,composer.json}]
indent_style = space
indent_size = 2
